<%= render Booking::BookingInfoComponent.new(@what, @current_user) %>  
<%= render Booking::CurrentUserBookingComponent.new(@what, @current_user) %>  

<% if @bookable_by_user && @bookable_for_itsself %>  
  <% unless @user_this_booking %>
    <div class="actions">
      <% if @bookable_by_user %>  
        <div class="my-2">
          [<%= @free_seats %> posti liberi su <%= @what.seats %>]
        </div>
        <div class="bg-pls-light p-4 border-pla rounded-xl">
          <% if @what.booking_to_confirm? %>  
            <div>
              Puoi fare richiesta di partecipazione
              usando il pulsante sotto.<br/> 
              In seguito riceverai ulteriori informazioni al tuo indirizzo email <%= @current_user.email if @current_user %>.
            </div>
          <% end %>
          <div class="my-4">
            <% txt = @what.booking_to_confirm? ? ' prenota' : ' iscriviti' %>  
            <%= link_to booking_icon + txt, [:new, @what, :booking], class: 'button' %>
          </div>
          <div>
            <%= link_to "Controlla le tue iscrizioni e prenotazioni per attività PLS", me_users_path, class: "underline" %>.
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% elsif @bookable_by_teacher_for_students %>
  <%= render Booking::CurrentTeacherBookingComponent.new(@what, @current_user) %>  
  <div class="my-4">
    <%= link_to booking_icon + " Prenota i tuoi studenti", [:new_student, @what, :bookings], class: 'button' %>
  </div>
<% end %>

<% if @current_user && @current_user.staff? && @what.booking_start && @what.booking_end %>  
  <div>
    <%= link_to 'Elenco prenotazioni', bookings_path(activity_id: @what.id), class: 'underline' %>  
  </div>
<% end %>
