<% if @user_this_booking %>
  <!-- manage booking -->
  <div class="text-xl text-green-700 font-bold my-4">
    <%= exclamation_icon %> 
    <%= @user_this_booking.confirmed ? 'Sei iscritto a' : 'Hai fatto richiesta di iscrizione per' %>
    questa edizione 
    <%# con codice &ldquo;<%= @user_this_booking.nonce %1>&rdquo;. %>
    <% if @user_this_booking.online %>  
      <br/><small>Hai fatto richiesta per partecipare in remoto.</small>
    <% end %>
  </div>

  <div class="my-4">
    <%= button_to "Cancella l'iscrizione", booking_path(@user_this_booking), method: :delete, class: 'button-danger' %>  
  </div>
<% elsif @user_sibling_booking_activity %>
  <div class="text-lg text-green-700 font-bold my-4">  
    Sei iscritto all'attività 
    &ldquo;<%= link_to @user_sibling_booking_activity.to_s, @user_sibling_booking_activity, class: "underline" %>&rdquo;
    dello stesso gruppo. 
  </div>
<% end %>

<% if @user_this_teacher_bookings && @user_this_teacher_bookings.any? %>  
  <div class="font-bold">
    Elenco studenti/classi che hai iscritto
  </div>
  <ul class="list-none">
    <% @user_this_teacher_bookings.each do |booking| %>  
      <li class="">
        <% if booking.for_class? %>  
          classe <strong><%= booking.school_class %></strong> (<%= booking.seats_to_s %>) 
        <% elsif booking.for_group? %>
          gruppo di <%= booking.seats %> studenti 
        <% else %>
          <strong><%= booking.user %></strong>
          <small>(<%= booking.user.email %>)</small> 
        <% end %>
        <%= link_to_delete booking %>
      </li>
    <% end %>
  </ul>
<% end %>
