<% if @user_this_booking %>
  <!-- manage booking -->
  <div class="text-xl text-green-700 font-bold my-4">
    <%= exclamation_icon %> 
    <%= @user_this_booking.confirmed ? 'Sei iscritto a' : 'Hai fatto richiesta di iscrizione per' %>
    questa edizione 
    <%# con codice &ldquo;<%= @user_this_booking.nonce %1>&rdquo;. %>
    <% if @user_this_booking.online %>  
      <br/><small>Hai fatto richiesta per partecipare in remoto.</small>
    <% end %>
  </div>

  <div class="my-4">
    <%= button_to "Cancella l'iscrizione", booking_path(@user_this_booking), method: :delete, class: 'button-danger' %>  
  </div>
<% elsif @user_sibling_booking_activity %>
  <div class="text-xl text-green-700 font-bold my-4">  
    Sei iscritto all'attività 
    &ldquo;<span class="underline"><%= link_to @user_sibling_booking_activity.to_s, @user_sibling_booking_activity %>&rdquo;</span>
    dello stesso gruppo. 
  </div>
<% end %>

<% if @user_this_teacher_bookings && @user_this_teacher_bookings.any? %>  
  <div class="font-bold">Elenco studenti/classi che hai iscritto</div>
  <ul class="p-4">
    <% @user_this_teacher_bookings.each do |booking| %>  
      <li class="pl-2">
      <% if booking.for_class? %>  
        classe <%= booking.school_class %> (<%= booking.seats_to_s %>) 
        <%= link_to_delete booking %>  
      <% else %>
        <%= booking.user %> <small>(<%= booking.user.email %>)</small> 
        <%= link_to_delete booking %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
