<div class="my-4 bg-blue-100 border-l-4 border-pls-light p-4">
  <div>
    <%= @booking.typology_to_s %> del <%= l @booking.created_at %> 
    <% if @booking.seats && @booking.seats > 1 %>  
      per <strong><%= @booking.seats %> posti</strong>
    <% end %>
  </div>

  <%= link_to @booking.activity.is_a?(Event) ? booking.activity.edition : @booking.activity do %>
    <div class="font-bold text-xl"><%= @booking.activity %></div>
  <% end %>

  <% unless @booking.school_class.blank? %>  
    <div>
      Prenotazione per la classe <%= @booking.school_class %>  
    </div>
  <% end %>

  <% if @booking.user_id != @current_user.id %>  
    <div>
      Prenotato per <%= @booking.user %>  
    </div>
  <% end %>

  <% if @booking.online %>  
    <div>
      On line
    </div>
  <% end %>

  <% if !@booking.notes.blank? %>
    <div class="pl-2">
      <stong>Note</stong>: <i><%= @booking.notes %></i>
    </div>
  <% end %>

  <% if BookingPolicy.new(@current_user, @booking).destroy? %>
    <div>
      <%= button_to booking_path(@booking), method: :delete, form: {data: {turbo_confirm: "Sicuro di voler cancellare la tua #{@booking.typology_to_s}?"}} do %>
        [Cancella]
      <% end %>
    </div>
  <% end %>
</div>

