<div class="my-4 bg-pls-light border-l-4 border-pls p-4">
  <div>
    Iscrizione del <%= l @booking.created_at %> 
  <% if @booking.seats && @booking.seats > 1 %>  
    per <strong><%= @booking.seats %> posti</strong>
  <% end %>
  </div>
  <%= link_to @booking.activity.is_a?(Event) ? booking.activity.edition : @booking.activity do %>
    <div class="font-bold text-xl"><%= @booking.activity %></div>
  <% end %>
  <% unless @booking.school_class.blank? %>  
    <div>
      Prenotazione per la classe <%= @booking.school_class %>  
    </div>
  <% end %>
  <% if @booking.user_id != @current_user.id %>  
    <div>
      Prenotato per <%= @booking.user %>  
    </div>
  <% end %>
  <% if @booking.online %>  
    <div>
      On line
    </div>
  <% end %>
  <div>
    <%= button_to "[Cancella questa iscrizione]", booking_path(@booking), method: :delete, form: { data: { turbo_confirm: 'Sicuro di voler cancellare la tua iscrizione?' }} %>
  </div>
</div>

