<div data-controller="booking">
  <%= @form.input :bookable, collection: [['no', 'no'], 
                                          ['si', 'yes'], 
                                          ['da confermare', 'to_confirm'], 
                                          ['esterne', 'external'],
                                          ['tutto finito', 'done']], include_blank: false %>

  <div data-booking-target="by">
  <%= @form.input :bookable_by, collection: [['aperte a tutti', 'all'],
                                             ['studenti scuola secondaria', 'student_secondary'], 
                                             ['studenti universitari', 'student_university'], 
                                             ['docenti', 'teacher']],  include_blank: false %>
  </div>

  <div data-booking-target="for">
  <%= @form.input :bookable_for, collection: [['lo stesso che si iscrive', 'itsself'],
                                              ['studenti', 'students'], 
                                              ['classi di studenti', 'classes']], include_blank: false %>
  </div>

  <div data-booking-target="url">
    <%= @form.input :booking_url, as: :string, hint: "In caso di sofia #{SOFIA_LINK}" %>
  </div>

  <div data-booking-target="dates">
    <%= @form.input :booking_start, minute_step: 10 %>
    <%= @form.input :booking_end, minute_step: 10 %>
  </div>
</div>

