<p>Elenco iscritti:</p>

<ul class="list-disc pl-8 ml-4">
  <% @bookings.each do |b| %>  
    <li>
      <span class="text-blue-800 font-bold">
      <% if b.online %>  
        <% @online_mails << b.email %>  
        online
      <% else %>
        <% @in_presence_mails << b.email %>  
        <%= b.seats %> <%= b.seats == 1 ? 'posto' : 'posti' %>
      <% end %>
      </span>

      <% if b.user %>  
        <span class="font-bold">
          <% if @editable %>  
            <%= link_to b.user.to_s, [:edit, b.user] %>
          <% else %>
            <%= b.user.to_s %>  
          <% end %>
        </span>     
      <% else %>
        <%= b.name %> <%= b.surname %>
      <% end %>

      <%= t b.role %> 
      <% unless b.grade.blank? %>  
        <%= b.grade %> anno 
      <% end %>

      <% @teacher_mails << b.teacher_email if b.teacher_email %>  

      <span class="underline"><%= mail_to b.email %></span>

      <% if BookingPolicy.new(@current_user, b).destroy? %>  
        <%= link_to_delete b, confirm_message: "Confermi la cancellazione? Ricordiamo che gli iscritti NON vengono avvisati della cancellazione. Consigliamo di mandare una mail di avviso (salvate l'indirizzo mail prima di cancellare)." %> 
      <% end %>

      <br/>

      <% if b.teacher_id %>  
        <strong>Iscritto dal docente:</strong> <%= b.teacher %>  
      <% elsif ! b.teacher_name.blank? %>
        <strong>docente:</strong>
        <%= b.teacher_name %>  
        <%= b.teacher_surname %>  
        <small>(<%= b.teacher_email %>)</small>
      <% end %>

      <strong>scuola:</strong> 
      <%= b.school %>  
      <%= b.school_city %>

      <% if !b.confirmed? %>  
        <%= button_to '<i class="far fa-check-circle"></i> conferma prenotazione'.html_safe, confirm_booking_path(b), class: 'underline button' %>  
      <% elsif @editable %>
        <span class="text-green-500"><i class="fas fa-check-circle"></i> confermata</span>
      <% end %>

      <%# <span class="font-mono"><%= b.nonce ? b.nonce : '-----' %1></span> %> 
      <small>(del <%= l b.created_at %> id:<%= b.id %>)</small>
    </li>
  <% end %>
</ul>

<div class="info text-sm my-2">
  <strong>Indirizzi partecipanti in presenza:</strong> <%= @in_presence_mails.join(', ') %>  
</div>
<div class="info text-sm my-2">
  <strong>Indirizzi partecipanti online:</strong> <%= @online_mails.join(', ') %>  
</div>
<div class="info text-sm my-2">
  <strong>Indirizzi docenti:</strong> <%= @teacher_mails.sort.uniq.join(', ') %>  
</div>

