<% @cluster = @edition.clusters.first %>

<div class="container">
  <div class="md:flex md:flex-row-reverse my-8 md:my-16">
    <div class="md:pl-4 md:w-1/3 text-left">
      <%= link_to_edit_if_editable @edition, msg: " Modifica i dati dell'edizione" %>
      <%= render Activity::AttributesComponent.new(@edition.project) %>  
      <% if @cluster %>  
        <div class="">
          All'interno di:<br/>
          <%= link_to @cluster.to_s, @cluster, class: 'underline' %> 
          <div><%= @cluster.max_bookable_activities_to_s %></div>
        </div>
      <% end %>
      <hr class="my-2"/>
      <%= render Contact::InlineContactsComponent.new(@edition.speakers, label: "Relatori") %>  

      <%= render Bookability::InfoComponent.new(@edition) %>  
      <%= render Booking::CurrentUserBookingComponent.new(@edition, current_user) %>  
      <%= render Bookability::ActionsComponent.new(@edition, current_user) %>

      <% @edition.resources.each do |resource| %>
        <div class="mt-8 w-full text-left">
          <%= render Resource::ResourceComponent.new(resource, with_download: true) %>  
        </div>
      <% end %>
    </div>

    <div class="md:w-2/3 md:pr-4">
      <%= render Activity::DetailsComponent.new(@edition) %>

      <div class="my-4 lg:text-lg">
        <%= simple_format @edition.description %>  
      </div>
      <div class="my-4">
        <%= @edition.details %>  
      </div>
      <div>
        <% @edition.snippets.each do |snippet| %>  
          <div class="inline-block">
            <%= link_to snippet.name, snippet_path(snippet, modal: 1), data: {turbo_frame: :modal}, class: 'inline-block text-lg m-1 px-4 py-2 border-2 border-pls-flash bg-gray-100 text-pls-strong hover:bg-gray-200' %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% unless @all_events.empty? %>  
    <% if @all_events.size == 1 && !@edition.atomic %>  
      <hr class="my-16"/>
      <%= render Event::EventComponent.new(@all_events.first, current_user, no_edition: true, heading: :h2) %>
    <% else %>
      <div class="my-4">
        <%= render Event::ListComponent.new(@events, current_user, short: false, atomic: @edition.atomic, title: 'prossimi eventi') %>  
        <%= render Event::ListComponent.new(@past_events, current_user, short: false, atomic: @edition.atomic, title: 'eventi passati') %>  
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-center text-base my-8">
  <%= link_to '[torna al progetto]', @edition.project %>  
</div>

