<div class="m-6">
  <%= simple_form_for [@project, @edition] do |f| %>  
    <%= f.input :academic_year, collection: (2016...2022).to_a.reverse, include_blank: false %>
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 5 } %>
    <%= f.rich_text_area :details %>
    <%= f.association :audience, include_blank: false %>  
    <%= f.input :seats %>
    <%= f.input :sofia %>
    <%= f.input :pcto %>
    <%= f.input :atomic %>
    <%= f.input :bookable %>
    <%= f.input :booking_start %>
    <%= f.input :booking_end %>
    <%= f.submit %>  
  <% end %>
</div>
