<div class="p-2">
  <%= simple_form_for [@project, @edition] do |f| %>  
    <%= f.input :academic_year, collection: (2016...2022).to_a.reverse, include_blank: false %>
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 5 } %>
    <%= f.rich_text_area :details %>
    <%= f.association :audience, include_blank: false %>  

    <%= f.input :seats %>

    <div class="my-2">
      <%= f.input :sofia %>
      <%= f.input :pcto %>
    </div>

    <%= f.input :atomic %>
    <%= f.input :bookable, collection: [['no', 'no'], ['si', 'yes'], ['da confermare', 'to_confirm'], ['esterne', 'external']], include_blank: false %>
    <div id="booking_url">
      <%= f.input :booking_url %>
    </div>
    <div id="booking_dates">
      <%= f.input :booking_start, minute_step: 10 %>
      <%= f.input :booking_end, minute_step: 10 %>
      <% siblings = @edition.cluster_siblings %>  
      <% if siblings.any? %>  
        <hr class="my-2"/>
        <div>
          <%= exclamation_icon %>  Nota: iscrizioni uniche con 
          <ul>
          <% siblings.each do |activity| %>
            <li><%= link_to activity, activity %> </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= f.submit %>  
  <% end %>
</div>

<%= javascript_tag do %>  
  document.addEventListener('DOMContentLoaded', (event) => {
    display_unless('no', document.getElementById('booking_dates'), document.getElementById('edition_bookable'));
    display_if('external', document.getElementById('booking_url'), document.getElementById('edition_bookable'));
  });
<% end %>
