<%= simple_form_for [@project, @edition] do |f| %>  
  <%= f.input :hidden, as: :boolean %>  
  <%= f.input :in_evidence, as: :boolean %>  
  <%= f.input :academic_year, collection: (2016..(CURRENT_ACADEMIC_YEAR + 1)).to_a.reverse, include_blank: false %>
  <%= f.input :name %>  
  <%= f.input :description, input_html: { cols: 80, rows: 5 } %>

  <div class="details-trix-editor">
    <label>
      Descrizione più dettagliata con la possibilità di formattare il testo (opzionale)
    </label>
    <%= f.rich_text_area :details %>
  </div>

  <%= f.association :audience, include_blank: false %>  

  <%= f.input :seats %>

  <div class="my-2">
    <%= f.input :sofia %>
    <%= f.input :pcto %>
  </div>

  <%= f.input :atomic %>

  <%= render Activity::PartecipationModeFormComponent.new(f) %>
  <%= render Booking::TipologyFormComponent.new(f) %>  
  <%= render Bookability::ClusterSiblingsMessageComponent.new(@edition) %>  
  <%= f.submit %>  
<% end %>
