<div class="m-6">
  <%= simple_form_for [@project, @edition] do |f| %>  
    <%= f.input :academic_year, collection: (2016...2022).to_a.reverse, include_blank: false %>
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 5 } %>
    <%= f.rich_text_area :details %>
    <%= f.association :audience, include_blank: false %>  
    <%= f.input :seats %>
    <%= f.input :sofia %>
    <%= f.input :pcto %>
    <%= f.input :atomic %>
    <%= f.input :bookable, collection: [['no', 'no'], ['si', 'yes'], ['da confermare', 'to_confirm']], include_blank: false %>
    <div id="booking_dates">
      <%= f.input :booking_start, minute_step: 10 %>
      <%= f.input :booking_end, minute_step: 10 %>
      <% siblings = @edition.cluster_siblings %>  
      <% if siblings.any? %>  
        <hr class="my-2"/>
        <div>
          <%= exclamation_icon %>  Nota: iscrizioni uniche con 
          <ul>
          <% siblings.each do |activity| %>
            <li><%= link_to activity, activity %> </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= f.submit %>  
  <% end %>
</div>

<%= javascript_tag do %>  
  display_unless_no(document.getElementById('booking_dates'), document.getElementById('edition_bookable'));
<% end %>
