<div class="container">
  <h1 class="title">
    <%= link_to @edition.name, @edition %>
  </h1>

  <div class="text-center text-2xl my-2">
    <%= link_to_delete_if_deletable @edition %>
  </div>

  <div class="text-center">
    in <%= link_to @edition.project.name, [:edit, @edition.project], class: 'button' %>
  </div>

  <div class="lg:flex">
    <div class="lg:w-2/3 pr-4">
      <%= render partial: 'form' %>  
    </div>
    <div class="lg:w-1/3">
      <%= render ContactsComponent.new(what: @edition, can_add: policy(@edition).edit?) %>
      <%= render ContactsComponent.new(what: @edition, as: :speaker, can_add: policy(@edition).edit?) %>
      <%= render ResourcesComponent.new(what: @edition) %>

      <div class="pls-card my-4">
        <div class="pls-card-title">EVENTI</div>
        <div class="pls-card-content">
          <% @edition.events.each do |event| %>  
            <div class="py-1 hover:bg-gray-100">
              <%= link_to [:edit, event] do %> 
                <i class="fas fa-chevron-right mr-2"></i> 
                <%= event.name %> 
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to 'Nuovo Evento', new_edition_event_path(@edition), class: 'button' %>  
      </div>
    </div>
  </div>
</div>
