<div class="container">
  <% unless @edition.project.name == @edition.name %>  
    <div class="text-center text-2xl mt-4">
      <%= link_to @edition.project.name.upcase, @edition.project %>
    </div>
  <% end %>

  <h1 class="title">
    <%= @edition.name %> <br/>
  </h1>

  <h2 class="title">
    <%= @edition.academic_year_to_s %>
    <%= link_to '<i class="fas fa-level-up-alt rounded-xl border-2 border-pls mx-4 px-4 py-2 text-base"></i>'.html_safe, @edition.project, title: 'Torna al progetto' %>
  </h2>

  <%= render partial: 'projects/attributes', locals: { project: @edition.project } %>  
</div>

<div class="container my-4">
  <%= render EditionComponent.new(edition: @edition, skip_title: true, with_image: true) %>
</div>

<div class="text-center text-base mt-4">
  <%= link_to '[torna al progetto]', @edition.project %>  
</div>
