<div class="container" data-controller="cluster">
  <h1 class="title">Modifica raggruppamento di attività</h1>

  <%= simple_form_for @cluster do |f| %>  
    <%# <%= f.input :slug %1> %>  
    <%= f.input :academic_year, collection: (2016...2024).to_a.reverse, include_blank: false %>
    <%= f.input :name %>  
    <%= f.input :description %>  
    <div class="details-trix-editor">
      <label>
        Descrizione più dettagliata con la possibilità di formattare il testo (opzionale)
      </label>
      <%= f.rich_text_area :details %>
    </div>
    <input data-cluster-target="limited_activities_checkbox"
           type="checkbox" 
           name="cluster[limited_activities_checkbox]" 
           <%= @cluster.max_bookable_activities.to_i > 0 ? 'checked="checked"' : '' %>/>
    <label for="checkbox">Il numero di attività a cui iscriversi è limitato?</label>
    <div id="checkbox" data-cluster-target="limited_activities" style="display: none">
      <%= f.input :max_bookable_activities %>  
    </div>
    <%= f.association :activities, collection: @activities, as: :check_boxes, label_method: -> (x) { "#{x.name} #{x.academic_year}" } %>  
    <%= f.submit %>  
  <% end %>
</div>

