<div class="container">
  <h1 class="title"><%= @cluster.name %></h1>

  <% i = 1 %>  
  <% @cluster.activities.each do |activity| %>  
    <%= link_to activity do %>
      <div class="hover:bg-gray-100 rounded py-2 px-2">
        <span class="rounded-full border border-pls-strong text-pls-strong px-2"><%= i %></span>
        <span class="font-semibold"><%= activity %></span>
        <% if activity.seats.to_i > 0 %>  
          [<%= activity.seats %> posti]
        <% end %>
        <% activity.events.each do |event| %>  
          (<%= l event.start_date %>)
        <% end %>
      </div>
    <% end %>
    <% i += 1 %>  
  <% end %>
</div>

