<div class="container">
  <h1 class="title"><%= @cluster.name %></h1>

  <div class="text-right">
    <%= link_to_edit_if_editable @cluster, msg: 'modifica raggruppamento' %>
  </div>

  <% unless @cluster.description.blank? %>
    <div class="rounded-xl bg-gray-50 border-2 border-pls my-4 p-4 max-w-screen-lg">
      <%= simple_format @cluster.description %>
    </div>
  <% end %>

  <div class="my-4 text-gray-700">
    <%= @cluster.details %>  
  </div>

  <% i = 1 %>  
  <% @activities.each do |activity| %>  
    <%= link_to activity do %>
      <div class="hover:bg-gray-200 border border-pls rounded-xl my-2 p-2">
        <div class="text-lg font-bold text-pls-strong px-2">
          <%= i %>. <%= activity %>
        </div>
        <div class="ml-6">
          <div>
            <%= activity.description %>  
          </div>

          <div>
            <i class="fas fa-chalkboard-teacher fa-fw mr-2"></i>
            <%= activity.speakers_to_s(if_blank: 'TBA') %>  
          </div>

          <div>
            <i class="far fa-calendar fa-fw mr-2"></i>
            <% activity.events.each do |event| %>  
              <span class="text-gray-900 pr-4"><%= l event.start_date %></span>
            <% end %>
            <% if activity.now_in_bookable_interval? %>  
              <span class="float-right">
                <%= render Bookability::FreeSeatsComponent.new(activity) %>  
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% i += 1 %>  
  <% end %>

  <% if current_user && current_user.staff? %>
    <div class="my-4">
      <%= link_to 'lista iscrizioni', cluster_bookings_path(@cluster), class: 'button' %>  
      <%= link_to 'lista iscrizioni csv', cluster_bookings_path(@cluster, format: :csv), class: 'button' %>  
    </div>
  <% end %>
</div>
