<div data-controller="filter">
  <div id="filter-toggler" class="inline-block border-2 bg-gray-50 hover:bg-gray-200 border-gray-700 px-4 p-2 my-2" data-filter-target="toggler">
    <button data-action="click->filter#toggle_menu">
      <i class="fas fa-filter fa-2xl pr-2"></i>
      Filtra le attività 
    </button>
  </div>
  <div data-filter-target="menu" id="filters" class="hidden bg-gray-50 border border-gray-500 py-4">
    <div class="lg:flex w-full px-4">
      <div data-filter-target="years" id="years">
        <% unless @no_year_filter %>
          <div class="pr-2">
            <h4 class="text-base font-bold text-pls-strong pb-2">A.A.</h4>
            <% Edition.all_academic_years.each do |y| %>  
              <input type="checkbox" id="yr_<%= y %>" name="years" value="<%= y %>"/>
              <label for="yr_<%= y %>">
                <%= y %>/<%= (y.to_i + 1) - 2000 %>
              </label><br/>
            <% end %>
          </div>
        <% end %>
      </div>
      <div data-filter-target="areas" id="areas">
        <% unless @no_area_filter %>  
          <div class="pr-2">
            <h4 class="text-base font-bold text-pls-strong pb-2">Area</h4>
            <% Area.order(:name).each do |a| %>  
              <% checked = (a.id == @area_id) ? 'checked="checked"' : '' %>  
              <input type="checkbox" id="ar_<%= a.id %>" name="areas" value="<%= a.id %>" <%= checked %>  />
              <label for="ar_<%= a.id %>"><%= a.name %> </label> <br/>
            <% end %>
          </div>
        <% end %>
      </div>
      <div data-filter-target="audiences" id="audiences" class="grow">
        <div class="pr-2">
          <h4 class="text-base font-bold text-pls-strong pb-2">Rivolto a</h4>
          <% Audience.order(:name).each do |a| %>  
            <input type="checkbox" id="au_<%= a.id %>" name="audiences" value="<%= a.id %>"/>
            <label for="au_<%= a.id %>"><%= a.name %> </label> <br/>
          <% end %>
        </div>
      </div>
      <div data-filter-target="activitytypes" id="activitytypes" class="">
        <div class="">
          <h4 class="text-base font-bold text-pls-strong pb-2">Tipologia</h4>
          <% ActivityType.order(:name).each do |a| %>  
            <input type="checkbox" id="at_<%= a.id %>" name="activitytypes" value="<%= a.id %>"/>
            <label for="at_<%= a.id %>"><%= a.name %> </label> <br/>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button data-action="click->filter#toggle_menu" class="button">OK</button>
      <button data-action="click->filter#clear_filters" class="mx-2 underline">Pulisci filtri</button>
    </div>
  </div>

  <div data-filter-target="noresults" style="display: none" class="alert my-4">
    Non sono registrate attività che soddisfino ai criteri selezionati.
  </div>
</div>
