<% if @what.bookable? && @what.booking_start && @what.booking_end %>  
  <div class="my-4 font-bold text-green-900">
    Iscrizioni aperte dal <%= l @what.booking_start, format: :day_with_year %> al <%= l @what.booking_end, format: :day_with_year %>
  </div>
  <% unless helpers.current_user %>  
    <div class="italic">
      Per iscriversi occorre essere loggati. <%= link_to 'Accedi', login_path(for: @what.id), class: 'underline' %>.<br/>
    </div>
    <div class="text-yellow-500">
      Nel caso ci si volesse iscrivere senza utilizzare un account è possibile scrivere una mail all'indirizzo
      <%= mail_to 'dipmat-supportoweb@unibo.it' %> specificando nome, cognome, scuola e l'attivitá a cui ci si vuole
      iscrivere.
    </div>
  <% end %>
<% end %>
<% if @user_booking %>
  <div class="text-2xl text-green-500 font-bold my-4">
    <%= exclamation_icon %> 
    <%= @user_booking.confirmed ? 'Hai fatto richiesta di iscrizione per' : 'Sei prenotato a' %> questa edizione con
    codice &ldquo;<%= @user_booking.nonce %>&rdquo;.
  </div>
  <div class="my-4">
    <%= link_to "Cancella l'iscrizione", booking_path(@user_booking), method: :delete, class: 'button' %>  
  </div>
<% end %>

<div class="actions">
  <% if ! @user_booking && helpers.policy(@what).book? %>  
    <div class="bg-pls-light p-4 border-l-4 border-pls">
      <% if @what.booking_to_confirm? %>  
        <div>
          Puoi fare richiesta di partecipazione usando il pulsante sotto.<br/> 
          In seguito riceverai ulteriori informazioni al tuo indirizzo email <%= @user.email if @user %>.
        </div>
      <% end %>
      <div class="my-4">
        <% txt = @what.booking_to_confirm? ? ' prenota' : ' iscriviti' %>  
        <%= link_to booking_icon + txt, [:new, @what, :booking], class: 'button' %>
      </div>
      <div>
        Nota: <%= link_to "controlla le tue iscrizioni e prenotazioni per attività PLS", me_users_path, class: "underline" %>.
      </div>
    </div>
  <% end %>
</div>

