<% if @what.bookable? && @what.booking_start && @what.booking_end %>  
  <div>Iscrizioni dal <%= l @what.booking_start, format: :day_with_year %> al <%= l @what.booking_end, format: :day_with_year %></div>
<% end %>
<% if helpers.current_user_booked?(@what.id) %>
  <div class="text-2xl text-green-500 font-bold my-4"><%= exclamation_icon %> Sei iscritto a questa edizione</div>
<% end %>

<div class="actions">
  <%= helpers.link_to_edit_if_editable @what, msg: 'modifica' %>
  <% if helpers.policy(@what).book? && ! helpers.current_user_booked?(@what.id) %>  
    <div class="my-4"><%= link_to booking_icon + ' iscriviti', [:new, @what, :booking], class: 'button' %></div>
  <% end %>
</div>
