<div class="pls-card my-4">
  <label class="pls-card-title">
    <%= @label %>  
  </label>
  <div class="my-2 p-2 pt-8">
    <% @contacts.each do |contact| %>  
      <div>
        <%= contact %>
        <span class="float-right">
          <% url = [:remove_contact, @what, { contact_id: contact.id, as: @as }] %>
          <%= link_to url, method: :delete, title: 'elimina', data: { confirm: 'Siete sicuri di voler cancellare?' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </span>
      </div>
    <% end %>

    <hr class="my-2"/>

    <%= simple_form_for [:add_contact, @what], method: :post, html: { id: @form_id } do |f| %>  
      <input type="hidden" name="as" value="<%= @as %>"></input>
      <label>Cerca nome/cognome inizando a scrivere</label><br/>
      <input name="contact_name" class="border-4 rounded my-2" list="<%= @form_id %>_contacts" />
      <datalist id="<%= @form_id %>_contacts" style="background-color: #ccc;">
        <% Contact.order(:surname).find_each do |c| %>  
          <option data-value="<%= c.id %>" value="<%= c.cn_militar %>"/>
        <% end %>
      </datalist>
      <input type="submit" value="aggiungi"/>
    <% end %>

    <div class="mt-4">
      <%= link_to plus_icon + ' aggiungi un nuovo contatto se non lo trovi nella lista', [:new, @what, :contact, as: @as], class: 'text-sm' %>  
    </div>
  </div>
</div>

<%# <%= javascript_tag do %1> %>  
<%#   document.getElementById("<%= @form_id %1>").addEventListener("submit", () => { %>
<%#     var shownVal = document.querySelector("#<%= @form_id %1> input[name=\"contact_id\"]").value; %>
<%#     var value2send = document.querySelector("#<%= @form_id %1> option[value='"+shownVal+"']").dataset.value; %>
<%#     document.querySelector("#<%= @form_id %1> input[name=\"contact_id\"]").value = value2send; %>
<%#   }); %>
<%# <% end %1> %>
