<div class="pls-card my-4">
  <label class="pls-card-title">
    <%= @label %>  
  </label>
  <div class="my-2 p-2 pt-8">
    <% @contacts.each do |contact| %>  
      <div>
        <%= contact %>
        <span class="float-right">
          <% url = [:remove_contact, @what, { contact_id: contact.id, as: @as }] %>
          <%= link_to url, method: :delete, title: 'elimina', data: { confirm: 'Siete sicuri di voler cancellare?' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </span>
      </div>
    <% end %>

    <hr class="my-2"/>

    <%= simple_form_for [:add_contact, @what], method: :post, html: { id: @form_id } do |f| %>  
      <input type="hidden" name="as" value="<%= @as %>"></input>
      <label>Cerca nome/cognome</label><br/>
      <input name="contact_id" class="border-4 rounded my-2" list="<%= @form_id %>_contacts" />
      <datalist id="<%= @form_id %>_contacts" style="background-color: #ccc;">
        <% Contact.find_each do |c| %>  
          <option data-value="<%= c.id %>" value="<%= c.name %>"/>
        <% end %>
      </datalist>
      <input type="submit" value="aggiungi"/>
    <% end %>

    <%= link_to 'nuovo contatto', [:new, @what, :contact, as: @as] %>  
  </div>
</div>

<%= javascript_tag do %>  
  document.getElementById("<%= @form_id %>").addEventListener("submit", () => {
    var shownVal = document.querySelector("#<%= @form_id %> input[name=\"contact_id\"]").value;
    var value2send = document.querySelector("#<%= @form_id %> option[value='"+shownVal+"']").dataset.value;
    document.querySelector("#<%= @form_id %> input[name=\"contact_id\"]").value = value2send;
  });
<% end %>
