<div class="relative lg:w-2/3 mx-auto border-2 border-yellow-500 p-4 my-8">
  <div>
    <div class="relative -top-8 -left-8 border-2 rounded-xl bg-white w-2/3 p-4 text-xl border-yellow-400">
      <%= link_to [:edit, @edition] do %>  
        <%= @edition.name %> (<%= @edition.academic_year %>)
      <% end %>
    </div>

    <div class="mt-4">
      Contatti: <%= @edition.contacts.map(&:name).join(', ') %> <br/> 
      Relatori: <%= @edition.speakers.map(&:name).join(', ') %>  
      <%= simple_format @edition.description %>  
      <div class="italic text-justify my-4 text-gray-600">
        <%= @edition.details %>  
      </div>
    </div>

    <% if @events.any? %>  
      <div>
        <h3>Eventi</h3>
        <% @events.each do |event| %>  
          <div class="my-4">
            <span class="date-tag bg-blue-500 text-white rounded text-sm font-bold p-1 px-4"><%= l event.start_date %></span>
            <%= event.name %>  
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
