<div class="relative bg-pls-light py-16">
  <div class="bg-pls-light text-2xl lg:text-4xl font-bold absolute -top-8 ml-8 text-pls p-4 px-8 rounded-xl tracking-wider">
    <%= @edition.academic_year_to_s %>
  </div>
  <h3 class="text-xl lg:text-4xl mx-4 lg:max-w-6xl lg:mx-auto"> 
    <%= @edition.name %> 
    <%= link_to(edit_icon, [:edit, @edition], class: 'float-right') if helpers.policy(@edition).edit? %>  
    <% if helpers.policy(@edition).book? && ! helpers.current_user_booked?(@edition.id) %>  
      <%= link_to(booking_icon, [:new, @edition, :booking], class: 'float-right') if helpers.policy(@edition).book? %>  
    <% end %>
  </h3>

  <div class="max-w-6xl m-auto my-8">
    <div class="text-lg">
      <%= simple_format @edition.description %>  
    </div>
    <div class="my-2">
      Contatti: <%= @edition.contacts.map(&:name).join(', ') %> <br/> 
      Relatori: <%= @edition.speakers.map(&:name).join(', ') %> <br/>  
      Audience: <%= @edition.audience %>  
    </div>
    <% if @edition.bookable && @edition.booking_start && @edition.booking_end %>  
      Iscrizioni: <strong><%= l @edition.booking_start %> - <%= l @edition.booking_end %></strong>
    <% end %>
    <div class="italic text-justify my-4 text-gray-600">
      <%= @edition.details %>  
    </div>

    <% if @events.any? %>  
      <div class="my-8">
        <h3 class="text-2xl">Eventi</h3>
        <%= render EventsListComponent.new(events: @events, short: @edition.atomic) %>  
      </div>
    <% end %>

    <% if @resources.any? %>  
      <div class="my-4">
        <h3 class="text-2xl">Risorse</h3>
        <% @resources.each do |resource| %>
          <%= render resource %>  
        <% end %>
      </div>
    <% end %>
  </div>
</div>
