<div class="relative border-t-4 border-pls-light pt-16">
  <div class="container">
    <div class="border-4 border-pls-light bg-white text-2xl lg:text-4xl font-bold absolute -top-8 -ml-2 md:-ml-16 text-pls p-4 px-8 rounded-xl tracking-wider">
      <%= @edition.academic_year_to_s %>
    </div>

    <div class="md:flex md:flex-wrap mt-8">
      <div class="md:w-2/3">
        <h3 class="text-xl lg:text-4xl"> 
          <%= @edition.name %> 
        </h3>

        <div class="my-8">
          <div class="lg:text-lg">
            <%= simple_format @edition.description %>  
          </div>
          <div class="my-2">
            <%= helpers.possible_label_from_array 'Contatti', @edition.contacts %>
            <%= helpers.possible_label_from_array 'Relatori', @edition.speakers %>
            <%= helpers.possible_label 'Audience', @edition.audience %>
          </div>

          <div class="italic text-justify my-4 text-gray-600">
            <%= @edition.details %>  
          </div>
          <%= render BookingAndActionsComponent.new(what: @edition) %>
        </div>
      </div>
      <div class="md:w-1/3">
        <% if @resources.any? %>  
          <div class="my-4">
            <% @resources.each do |resource| %>
              <%= render resource %>  
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @events.any? %>  
      <div class="my-4 border-2 rounded-xl shadow-xl bg-gray-50">
        <h3 class="text-2xl text-center my-2">Eventi</h3>
          <%= render EventsListComponent.new(events: @events, short: @edition.atomic) %>  
        </div>
      </div>
    <% end %>
  </div>
</div>
