<% if @short %>  
  <div>
    <% @events.each do |event| %>
      <div class="px-4 mr-1 mb-1 font-mono">
        <%= calendar_icon %>
        <%= l event.start_date, format: :day_with_year %> dalle <%= l event.start_date, format: :hour %>  
        - <%= event.place %>  
      </div>
    <% end %>
  </div>
<% else %>
  <div class="my-4 border-2 rounded-xl shadow-xl bg-gray-100 bg-opacity-50">
    <h3 class="text-2xl text-center my-4">Eventi</h3>
    <% @events.each do |event| %>  
      <div class="my-8 md:flex px-2">
        <div class="md:w-40 md:px-8 py-4 text-center">
          <div class="text-pls border-pls border-2 shadow-xl text-sm font-bold py-2 px-4">
            <%= l event.start_date %> 
          </div>
        </div>
        <div class="md:w-full">
          <div class="text-lg font-semibold ">
            <%= link_to event.name.upcase, event %>  
          </div>
          <div class="text-sm italic text-justify text-gray-700 mt-4">
            <q><%= event.description %></q>
          </div>
          <div class="mt-2">
            <%= helpers.possible_label_from_array 'Relatori', event.speakers %>
          </div>
          <%= render BookingComponent.new(event.bookings.new, helpers.current_user) %>
          <% if @with_image %>  
            <% event.resources.each do |r| %>  
              <% if r.image? %>  
                <%= image_tag(r.document.variant(resize_to_limit: [350, 350])) %>  
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
