<%= link_to @edition do %>
  <div class="relative border-2 shadow-xl hover:shadow-2xl border-pls p-6 mt-16">
    <div class="bg-gray-100 text-pls border-2 border-pls text-lg lg:text-xl font-bold absolute -top-7 p-2 lg:p-3 px-4 rounded-2xl tracking-wider">
      <%= @edition.academic_year_to_s %>
    </div>
    <h3 class="my-4"> 
      <%= @edition.name %> 
    </h3>

    <% if @with_project %>  
      <div class="text-xl mb-4">
        Progetto: <%= @edition.project.name.upcase %>
      </div>
    <% end %>

    <div class="my-2 text-lg font-semibold">
      <div>
        <i class="fas fa-users fa-fw mr-2"></i>
        <%= @edition.audience %>
      </div>
      <%= render Activity::DateAndPlaceComponent.new(@edition, no_link: true) %>  
      <%= render Activity::Extra.new(@edition, no_link: true) %>  
    </div>

    <div class="my-8">
      <div class="lg:text-lg my-4">
        <%= simple_format @edition.description %>  
      </div>
    </div>

    <div class="text-right text-sm">
      Clicca per maggiori informazioni
      <i class="fa-solid fa-expand pl-2"></i>
    </div>
  </div>
<% end %>
