<%= link_to @edition do %>
  <div class="relative border-2 shadow-xl hover:shadow-2xl border-pls-strong p-8 mt-16">
    <div class="bg-pls-strong text-gray-50 text-lg lg:text-2xl font-bold absolute -top-8 text-pls p-2 lg:p-4 px-8 rounded-2xl tracking-wider">
      <%= @edition.academic_year_to_s %>
    </div>
    <h2 class="my-4"> 
      <%= @edition.name %> 
    </h2>

    <% if @with_project %>  
      <div class="text-xl mb-4">
        Progetto: <%= @edition.project.name.upcase %>
      </div>
    <% end %>

    <div class="my-2 text-lg text-pls font-semibold">
      <div>
        <i class="fas fa-users fa-fw mr-2"></i>
        <%= @edition.audience %>
      </div>
      <%= render Activity::DateAndPlaceComponent.new(@edition, no_link: true) %>  
      <%= render Activity::Extra.new(@edition, no_link: true) %>  
    </div>

    <div class="my-8">
      <div class="lg:text-lg my-4">
        <%= simple_format @edition.description %>  
      </div>
    </div>
  </div>
<% end %>
