<div class="pls-card my-6">
  <div class="pls-card-title">
    EDIZIONI
  </div>
  <div class="pls-card-content mx-auto max-w-sm py-4">
    <% current_year_present = false %>
    <% @editions.each do |edition| %> 
      <% current_year_present ||= edition.current_year? %>
      <div>
        <div class="">
          <%= edition %> 
        </div>
        <div class="">
          <span class="text-sm text-gray-700 px-2">
            <%= edition.academic_year_to_s %>
          </span>
          <%= link_to link_icon, edition, title: "Vai alla pagina", class: 'mr-1' %>
          <%= link_to edit_icon, [:edit, edition], title: "Modifica", class: 'mr-1' %>
          <% if !current_year_present %>
            <%= button_to clone_icon, clone_edition_path(edition), title: "Duplica l'edizione", form: {class: "inline"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to 'Nuova edizione', [:new, @what, :edition], class: 'button' %>  
  </div>
</div>
