<div class="my-2 text-right">
  <%= helpers.link_to_edit_if_editable @edition, msg: " Modifica i dati dell'edizione" %>
</div>

<div class="md:flex md:flex-wrap mt-2">
  <div class="md:w-2/3 xl:w-3/4">
    <% unless @skip_title %>  
      <h2 class="my-4"> 
        <%= link_to(@edition.name, @edition) %> 
      </h2>
    <% end %>

    <div class="my-2 text-lg text-pls font-semibold">
      <div>
        <i class="fas fa-users fa-fw mr-2"></i>
        <%= @edition.audience %>
      </div>
      <%= render Activity::DateAndPlaceComponent.new(@edition) %>  
      <%= render Activity::Extra.new(@edition) %>  
    </div>

    <div class="my-8">
      <div class="lg:text-lg my-4">
        <%= simple_format @edition.description %>  
      </div>
      <div class="my-2">
        <%= helpers.possible_label_from_array 'Contatti', @edition.contacts %>
      </div>
      <div class="my-2">
        <%= helpers.possible_label_from_array 'Relatori', @edition.speakers %>
      </div>

      <% unless @short %>  
        <div class="my-4 text-gray-700">
          <%= @edition.details %>  
        </div>
      <% end %>

      <%= render Booking::BookingComponent.new(@edition, @current_user, short: @short) %>
    </div>
  </div>

  <div class="md:w-1/3 xl:w-1/4 px-4 mx-auto">
    <% @resources.each do |resource| %>
      <%= render resource, with_preview: true %>  
    <% end %>
  </div>
</div>

<% unless @short || @all_events.empty? %>  
  <% if @all_events.size == 1 && ! @edition.atomic %>  
    <hr class="my-16"/>
    <%= render Event::EventComponent.new(@all_events.first, @current_user, no_edition: true, heading: :h2) %>
  <% else %>
    <div class="my-4">
      <%= render Event::ListComponent.new(events: @events, short: @short || @edition.atomic, with_image: @with_image) %>  
      <%= render Event::ListComponent.new(events: @past_events, short: @short || @edition.atomic, with_image: @with_image, past: true) %>  
    </div>
  <% end %>
<% end %>

<% if @short %>  
  <div class="my-8 text-right text-3xl text-pls">
    <%= link_to 'dettagli <i class="far fa-arrow-alt-circle-right"></i>'.html_safe, @edition %>
  </div>
<% end %>
