<div class="pls-card my-6">
  <div class="pls-card-title">
    EDIZIONI
  </div>
  <div class="pls-card-content mx-auto max-w-sm py-4">
    <% @editions.each do |edition| %>  
      <div>
        <div class="">
          <%= edition %> 
        </div>
        <div>
          <span class="text-sm mt-2 text-gray-700">
            <%= edition.academic_year_to_s %>
          </span>
          <%= link_to edit_icon, [:edit, edition], title: "Modifica" %>
          <%= link_to clone_icon, new_edition_path(from: edition.id), title: "Duplica l'edizione" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to 'Nuova edizione', [:new, @what, :edition], class: 'button' %>  
  </div>
</div>
