<% if @short %>  
  <div>
    <% @events.each do |event| %>
      <div class="px-4 mr-1 mb-1 font-mono">
        <%= calendar_icon %>
        <%= l event.start_date, format: :day_with_year %> dalle <%= l event.start_date, format: :hour %>  
        <% if event.start_date && event.duration %>  
          alle <%= l event.start_date + event.duration.minutes, format: :hour %>  
        <% end %>
        <% unless event.place.blank? %>  
          - <%= event.place %>   
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="relative border-2 shadow-xl hover:shadow-2xl border-pls p-8 mt-16">
    <div class="bg-gray-100 border-2 border-pls text-gray-800 text-lg lg:text-2xl font-bold absolute -top-8 text-pls p-2 lg:p-4 px-8 rounded-2xl tracking-wider">
      <%= @title %>  
    </div>

    <% @events.each do |event| %>  
      <% next if event.hidden? %>
      <div class="my-4 md:my-8 md:flex px-2">
        <div class="md:w-1/5 py-2 text-center">
          <%= link_to event, class: "block text-pls font-bold px-2" do %>  
            <%= l event.start_date %> 
          <% end %>
        </div>
        <div class="<%= @with_image ? 'md:w-3/5' : 'md-w-full' %> mt-2">
          <%= link_to event do %>
            <div class="text-lg font-semibold">
              <%= event.name.upcase %>  
            </div>
            <div class="text-sm italic text-justify text-gray-700 mt-4">
              <%= event.description %>
            </div>
          <% end %>
            <div>
            <%= render Contact::InlineContactsComponent.new(event.speakers, label: "Relatori") %>  
          </div>
          <%= render Bookability::InfoComponent.new(event) %>  
          <%= render Booking::CurrentUserBookingComponent.new(event, @current_user) %>  
          <%= render Bookability::ActionsComponent.new(event, @current_user) %>
        </div>
          <% if @with_image %>  
            <div class="md:w-1/5 px-4">
            <% event.resources.each do |r| %>  
              <% if r.image? %>  
                <div class="mx-auto">
                  <%= image_tag(r.document.variant(resize_to_limit: [350, 350])) %>  
                </div>
              <% end %>
            <% end %>
            </div>
          <% end %>
      </div>
      <hr class="my-4 w-4/5 border-gray-200 border mx-auto"/>
    <% end %>
  </div>
<% end %>
