<div class="pls-card my-8">
  <div class="pls-card-title">
    RISORSE
  </div>
  <div class="pls-card-content mx-auto max-w-sm py-4">
    <div class="max-w-xl">
      <% @resources.each do |resource| %>  
        <%= render Resource::ResourceComponent.new(resource) %>  
        <div class="text-right text-gray-900">
          <%= link_to helpers.edit_icon, [:edit, resource] %>
          <%= helpers.link_to_delete([:remove_resource, @what, { resource_id: resource.id }]) if @what %>  
        </div>
      <% end %>
    </div>
  </div>
  <div class="pls-card-footer">
      <%= link_to 'Aggiungi risorsa esistente', [:choose_resource, @what], class: 'button inline-block' %>  
      <%= link_to 'Crea nuova risorsa', [:new, @what, :resource], class: 'button inline-block' %>  
  </div>
</div>
