<% if @resource.video? %>  

  <% if @small && !@with_download %>
    <div class="text-center w-full">
      <%= image_tag @resource.video_thumbnail_url, size: 300, class: "block mx-auto" %>
    </div>
  <% else %>
    <div class="p-2">
      <iframe class="w-64 mx-auto rounded-2xl" 
              title="YouTube video player" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen 
              src="<%= @resource.embed_url %>" 
              frameborder="0"></iframe>
    </div>
  <% end %>
  <div class="text-center text-gray-700">
    <%= @resource_name %>
  </div>

<% elsif @resource.document.image? %>

  <div>
    <% if @with_download %>
      <%= link_to @resource.document do %>
        <%= image_tag @resource.document.variant(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
      <% end %>
    <% else %>
      <%= image_tag @resource.document.variant(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
    <% end %>
  </div>
  <div class="text-center text-gray-700">
    <%= @resource_name %>
  </div>

<% elsif !@small && @resource.document && @resource.document.previewable? %>  

  <div>
    <% if @link_url %>
      <%= link_to @link_url do %>
        <%= image_tag @resource.document.preview(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
      <% end %>
    <% else %>
      <%= image_tag @resource.document.preview(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>    
    <% end %>
  </div>
  <div class="text-center">
    <%= @resource_name %>
  </div>

<% else %>  

  <div class="w-full">
    <span class="mr-2 ml-2">
      <%= @resource.url.blank? ? document_icon(size: "fa-2xl") : link_icon(size: "fa-2xl") %>
    </span>
    <span class="">
      <% if @link_url %>
        <%= link_to @link_url do %>
          <%= @resource_name %> 
          <%= "<small>(link esterno)</small>".html_safe if @external_link %>
        <% end %>
      <% else %>
        <%= @resource_name %>
      <% end %>
    </span>
  </div>

<% end %>

