<% if @resource.video? %>  

  <% if @small && !@with_download %>
    <%= image_tag @resource.video_thumbnail_url %>
  <% else %>
    <div class="p-2">
      <iframe class="w-64 rounded-2xl" 
              title="YouTube video player" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen 
              src="<%= @resource.embed_url %>" 
              frameborder="0"></iframe>
    </div>
  <% end %>
  <div class="text-center text-gray-700">
    <%= @resource %>
  </div>

<% elsif @resource.document.image? %>

  <div>
    <% if @with_download %>
      <%= link_to @resource.document do %>
        <%= image_tag @resource.document.variant(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
      <% end %>
    <% else %>
      <%= image_tag @resource.document.variant(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
    <% end %>
  </div>
  <div class="text-center text-gray-700">
    <%= @resource %>
  </div>


<% elsif !@small && @resource.document && @resource.document.previewable? %>  

  <div>
    <% if @link_url %>
      <%= link_to @link_url do %>
        <%= image_tag @resource.document.preview(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>
      <% end %>
    <% else %>
      <%= image_tag @resource.document.preview(resize_to_limit: [@limit, @limit]), class: 'block mx-auto rounded-xl' %>    
    <% end %>
  </div>
  <div class="text-center">
    <%= @resource %>
  </div>

<% else %>  

  <span class="mr-2 ml-2">
    <%= @resource.url.blank? ? document_icon : link_icon %>
  </span>
  <span class="">
    <% if @link_url %>
      <%= link_to @link_url do %>
        <%= @resource %>
      <% end %>
    <% else %>
      <%= @resource %>
    <% end %>
  </span>

<% end %>

<% if !@small && @policy.edit? %>
  <% @activities = @resource.activities.all %>
  <% if @activities.any? %>
    <ul class="m-4">
      <% @resource.activities.each do |a| %>
        <li class="bullet">risorsa associata a <%= link_to a, a, class: 'underline' %></li>
      <% end %>
    </ul>
  <% else %>
    <div class="my-4 p-1 alert">Risorsa non associata a nessuna attività.</div>
  <% end %>

  <%= link_to "modifica la risorsa", [:edit, @resource], class: "button my-2" %>
<% end %>
