<div class="py-6">
  <div class="mx-auto max-w-xl text-center py-4">
    <%= image_tag 'Logo_PLS_s.png', style: "width: 250px; margin: auto" %>

    <div class="my-8">
      Puoi usare il tuo account Google o Unibo per <br/>
      accedere alle pagine del PLS Unibo <br/>
      e iscriverti alle attività.
    </div>

    <% if Rails.env.development? %>  
      <div class="text-center my-4 text-lg">
        <%= button_to "Entra in test", '/auth/developer', data: {turbo: false}, class: "button cursor-pointer" %>
      </div>
    <% end %>

    <div class="text-center text-lg">
      <%= button_to "/auth/google_oauth2", form: {data: {turbo: false}}, class: 'cursor-pointer bg-gray-100 hover:bg-gray-200 text-sm font-bold py-1 px-2 rounded-xl' do %>
        <%= image_tag('google/btn_google_signin.png', class: 'inline mr-2') + " Accedi con Google" %>
      <% end %>
      <div class="text-base text-gray-800 px-2 mt-2 mb-6">
        Sono account Google validi anche <br/>
        gli account scolastici che usano <br/> 
        Google Classroom.
      </div>

      <%= button_to "/auth/entra_id", form: {data: {turbo: false}}, class: 'cursor-pointer bg-gray-100 hover:bg-gray-200 text-sm font-bold py-1 px-2 rounded-xl' do %>
        <%= image_tag('ssologo18x18.png', class: 'inline mr-2') + " Accedi in Unibo" %>
      <% end %>

      <div class="text-base text-gray-800 px-2 mt-4 mb-6">
        Sono account Unibo validi sia gli account <br/>
        <i>@unibo.it</i> <br/>
        che gli account <br/>
        <i>@studio.unibo.it</i>.
      </div>
    </div>

    <hr class="my-2"/>

    <p class="info my-4 text-muted">
    Continuando, accetti i Termini di servizio del piano PLS e dichiari 
    di aver letto le nostre <%= link_to 'Norme sulla privacy', privacy_path, class: 'underline' %>
    </p>
  </div>
</div>
