<div class="py-6">
  <div class="mx-auto max-w-lg text-center border-4 border-gray-300 bg-gray-50 shadow-md py-4">
    <%= image_tag 'Logo_PLS_s.png', style: "width: 200px; margin: auto" %>

    <div class="my-8">
      Puoi usare il tuo account Google o Unibo per <br/>
      accedere alle pagine del PLS Unibo <br/>
      e iscriverti alle attività.
    </div>

    <div class="text-center">
      <%= button_to "", google_login_url, data: { turbo: false }, class: "input-google-login", style: "background-image: url(#{ image_path("google/btn_google_signin_light_normal_web.png") }" %>

      <div class="text-gray-500 px-2 mb-2">
        Sono account Google validi anche <br/>
        gli account scolastici che usano <br/> 
        Google Classroom.
      </div>

      <%= button_to "Accedi in Unibo", shibboleth_login_url, class: 'button', data: { turbo: false } %>

      <div class="text-gray-500 px-2">
        Sono account Unibo validi sia gli account <br/>
        <i>@unibo</i> <br/>
        che gli account <br/>
        <i>@studio.unibo</i>.
      </div>
    </div>

    <hr class="my-2"/>

    <p class="info my-4 text-muted">
    Continuando, accetti i Termini di servizio del piano PLS e dichiari 
    di aver letto le nostre <%= link_to 'Norme sulla privacy', privacy_path, class: 'underline' %>
    </p>

    <% if Rails.env.development? %>  
      <div class="text-center">
        <%= button_to "Entra in test", developer_login_url, data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>
