<div class="py-6">
  <div class="mx-auto max-w-lg text-center border-4 border-gray-300 bg-gray-50 shadow-md py-4">
    <%= image_tag 'Logo_PLS_s.png', style: "width: 200px; margin: auto" %>

    <div class="my-8">
      Puoi usare il tuo account Google o Unibo per <br/>
      accedere alle pagine del PLS Unibo <br/>
      e iscriverti alle attività.
    </div>

    <div class="text-center">
      <%= button_to "", '/auth/google_oauth2', data: { turbo: false }, class: "input-google-login", style: "background-image: url(#{ image_path("google/btn_google_signin_light_normal_web.png") }" %>

      <div class="text-sm text-gray-500 px-2 mt-2 mb-6">
        Sono account Google validi anche <br/>
        gli account scolastici che usano <br/> 
        Google Classroom.
      </div>

      <%# <%= button_to image_tag('ssologo18x18.png', class: 'inline mr-2') + " Accedi in Unibo", '/auth/shibboleth/callback', %> 
      <%#               class: 'bg-gray-100 border-b-2 border-gray-300 hover:bg-gray-200 text-sm font-bold py-2 px-4 rounded', data: { turbo: false } %1> %>
      <%= link_to image_tag('ssologo18x18.png', class: 'inline mr-2') + " Accedi in Unibo", "https://www.dm.unibo.it/nuovo-pls/login", 
                   class: 'bg-gray-100 border-b-2 border-gray-300 hover:bg-gray-200 text-sm font-bold py-2 px-4 rounded', data: { turbo: false } %>

      <div class="text-sm text-gray-500 px-2 mt-2 mb-6">
        Sono account Unibo validi sia gli account <br/>
        <i>@unibo</i> <br/>
        che gli account <br/>
        <i>@studio.unibo</i>.
      </div>
    </div>

    <hr class="my-2"/>

    <p class="info my-4 text-muted">
    Continuando, accetti i Termini di servizio del piano PLS e dichiari 
    di aver letto le nostre <%= link_to 'Norme sulla privacy', privacy_path, class: 'underline' %>
    </p>

    <% if Rails.env.development? %>  
      <div class="text-center">
        <%= button_to "Entra in test", '/auth/developer', data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>
