<div class="container">
  <h1 class="title">Iscrizione</h1>

  <div class="my-8">
    <h2 class="text-center"><%= @activity %></h2>
    <div class="my-2 text-lg text-pls font-semibold">
      <%= @activity.audience %>
    </div>
    <%= render FreeSeatComponent.new(activity: @activity) %>
  </div>

  <% unless @free_seats && @free_seats < 1 %>  
    <%= simple_form_for [:acreate, @activity, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.input :online %>
      <%= f.input :email %>
      <%= render partial: 'users/common_to_booking', locals: { f: f } %>  

      <div class="m-2">
        <%= recaptcha_tags %>
      </div>

      <%= f.submit "Iscriviti" %>  
    <% end %>
  <% end %>
</div>
