<div class="container">
  <h1 class="title">Iscrizioni</h1>

    <% @bookiable_activities.each do |a| %>  
      <h2><%= link_to a, a %></h2>
      <div>
        <%= l a.booking_start %> - <%= l a.booking_end %>    
      </div>
      <ul>
        <% a.bookings.each do |b| %>  
          <li>
            <%= b.user %> <%= b.name %> <%= b.surname %> <%= b.role %> <%= link_to_delete b %>   
          </li>
        <% end %>
      </ul>
    <% end %>
</div>
