<div class="container">
  <h1 class="title">Le iscrizioni</h1>
  <% @booked_activities.each do |a| %>  
    <% booking_to_confirm = a.booking_to_confirm? %>  
    <div class="pls-card my-8">
      <div class="pls-card-title">
        <%= l a.booking_start %> - <%= l a.booking_end %>    
        <%= '<small>(prenotazioni da confermare)</small>'.html_safe if booking_to_confirm %>  
        <%= link_to_edit_if_editable a %>  
      </div>
      <div class="pls-card-content">
        <div>
          <%= link_to a, a %>
        </div>
        <p>Elenco iscritti:</p>
        <ul class="list-disc pl-8">
          <% a.bookings.order(:created_at).each do |b| %>  
            <li>
              <small><%= l b.created_at %></small>
              <% if b.user %>  
                <span class="font-bold text-green-700 underline"><%= link_to b.user, [:edit, b.user] %></span>     
              <% else %>
                <%= b.name %> <%= b.surname %>
              <% end %>
              <%= b.role %> 
              <%= b.school_type %>  
              <%= b.school %>  
              (<%= mail_to b.email %>) 
              <%= link_to_delete b %> 
              <% if booking_to_confirm && ! b.confirmed? %>  
                <%= link_to 'conferma', confirm_booking_path(b), method: :post %>  
              <% else %>
                confermata
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
