<div class="container">
  <h1 class="title">Iscrizioni</h1>
  <% if @activity %>  
    <h2 class="title"><%= @activity %></h2>
  <% end %>
  <% if @cluster %>
    <h2 class="title"><small>Raggruppamento</small> <%= @cluster %></h2>
  <% end %>

  <% if @activity %>  
    <%= render Booking::ActivityCardComponent.new(@activity, details: true) %>  
  <% elsif @cluster %>
    <div class="p-4 bg-gray-50 border rounded-xl border-gray-200 max-w-2xl">
      <% @cluster.activities.each do |activity| %>  
        <%= link_to activity, [activity, :bookings], class: "block underline" %>
      <% end %>
    </div>
    <%= render Booking::UserListComponent.new(@bookings) %>  
  <% else %>  
    <%= render Booking::TableComponent.new(@activities) %>
  <% end %>

  <h2 class="title">Clusters</h2>

  <ul class="my-4">
    <% Cluster.order(:name).each do |c| %>  
      <li><%= link_to c, cluster_bookings_path(c) %></li>
    <% end %>
  </ul>
</div>


