<div class="container">
  <h1 class="title">Iscrizione</h1>

  <%= render @activity %>  

  <% unless @activity.booked_by?(current_user) %>  
    <div class="my-8 text-center">
      <%= link_to 'Iscrivimi', [@activity, :bookings], method: :post, class: 'button text-2xl' %>  
    </div>
  <% end %>

  <% if policy(:booking).new_user? %>  
    <hr class="my-4"/>
    Sei registrato come docente. Puoi iscrivere i tutoi studenti fornendo nome-cognome-indirizzo email dello studente
    <%= form_with url: [:new_user, @activity, :bookings] do |f| %>  
      <%= f.label :name %>
      <%= f.text_field :name %><br/>  
      <%= f.label :surname %>
      <%= f.text_field :surname %><br/>
      <%= f.label :email %>
      <%= f.text_field :email %><br/>
      <%= f.submit "Iscrivi lo studente" %>  
    <% end %>
  <% end %>

</div>
