<div class="m-auto max-w-2xl px-2">
  <h1 class="title">Iscrizione</h1>

  <p class="my-8">Puoi registrarti a</p>

  <%= render @activity %>  

  <div class="my-8">
    <%= link_to 'Iscrivimi', [@activity, :bookings], method: :post, class: 'button' %>  
  </div>

  <% if policy(:booking).new_user? %>  
    Sei registrato come docente. Puoi iscrivere i tutoi studenti fornendo nome-cognome-indirizzo email dello studente
    <%= form_with url: [:new_user, @activity, :bookings] do |f| %>  
      <%= f.label :name %>
      <%= f.text_field :name %><br/>  
      <%= f.label :surname %>
      <%= f.text_field :surname %><br/>
      <%= f.label :email %>
      <%= f.text_field :email %><br/>
      <%= f.submit "Iscrivi lo studente" %>  
    <% end %>
  <% end %>

</div>
