<div class="container">
  <h1 class="title">Iscrizione <%= @booking.online == true ? "in remoto" : "in presenza" %></h1>

  <div class="my-8">
    <h2 class="text-center"><%= @activity %></h2>
  </div>

  <% txt_action = @activity.booking_to_confirm? ? ' Prenotami' : ' Iscrivimi' %>  

  <div class="my-8">
    <% if @activity.booked_by?(current_user) %>  
      <div class="info">Sei registrato a questa attività.</div>
    <% else %>
      <%= simple_form_for [@activity, @booking] do |f| %>  
        <%= f.error_notification %>

        <% if @booking.online == true %>
          <div class="inline rounded-xl bg-blue-200 px-4 py-2">Partecipazione in remoto.</div>
        <% else %>
          <div class="inline rounded-xl bg-blue-200 px-4 py-2">Partecipazione in presenza.</div>
          <%= render Bookability::FreeSeatsComponent.new(@activity) %>  
        <% end %>

        <%= f.input :online, as: :hidden %>  

        <% if current_user && current_user.student_secondary? %>  
          <%= f.input :teacher_name %>
          <%= f.input :teacher_surname %>
          <%= f.input :teacher_email %>
          <%= f.input :grade, collection: 3..5, as: :radio_buttons %>
        <% end %>
        <%= f.input :notes %>  
        <%= f.submit txt_action %>  
      <% end %>
    <% end %>
  </div>
</div>

