<div class="container">
  <h1 class="title">Iscrivi uno studente</h1>

  <p>Sei registrato come docente.</p>
  <p>Puoi iscrivere i tuoi studenti fornendo il loro nome, cognome e la loro email.</p>

  <%= form_with url: [:create_student, @activity, :bookings] do |f| %>  
    <% if @booking.errors.any? %>
      <% @booking.errors.full_messages.each do |message|%>
        <div class="alert"><%= message %> </div>
      <%end%>
    <%end%>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %><br/>  
    <%= f.label :surname, 'Cognome' %>
    <%= f.text_field :surname %><br/>
    <%= f.label :email %>
    <%= f.text_field :email %><br/>
    <%= f.label :notes, 'Note facoltative' %>
    <%= f.text_area :notes %><br/>
    <%= f.submit "Iscrivi lo studente" %>  
  <% end %>
</div>
