<div class="container max-w-4xl">
  <h1 class="title"><%= @activity %></h1>
  <h2>
    <%= @activity.to_book_to_s %> un gruppo di studenti
  </h2>

  <div class="my-4">
    Sei registrato come <strong>docente</strong> e per questa attività puoi 
    <%= @activity.to_book_to_s.downcase %>re
    un gruppo di 
    <% if @activity.bookable_group_limit && @activity.bookable_group_limit > 0 %>
      <strong>massimo <%= @activity.bookable_group_limit %></strong>
    <% end %>
    studenti.
 </div>

  <%= render Bookability::FreeSeatsComponent.new(@activity) %>  

  <%= simple_form_for [:create_school_group, @activity, @booking] do |f| %>  
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%# f.input :online, as: :hidden %> 

    <div class="my-4">
      <%= f.input :seats, hint: false %>
    </div>

    <div class="my-4">
      <%= f.label :notes, 'Note facoltative' %>
      <%= f.text_area :notes %>
    </div>

    <%= f.submit "#{@activity.to_book_to_s} il gruppo di studenti" %>  
  <% end %>
</div>
