<%= f.input :name %>
<%= f.input :surname %>

<div class="my-2" id="role_inputs">
  <%= f.input :role, as: :radio_buttons, collection: [['Studente', 'student'], ['Docente', 'teacher'], ['Altro', 'other']] %>
</div>
<hr/>
<div class="my-2" id="school_type_div">
  <%= f.input :school_type, as: :radio_buttons, label: '', collection: [['Scuola I grado', 'primo'], ['Scuola II grado', 'secondo'], ['Università', 'univ']] %>
</div>

<div id="other_string_div">
  <%= f.input :other_string %>  
</div>

<div id="school_choose">
  <% if @user && @user.school %>  
    <%= render 'schools/school', school: @user.school %>  
  <% end %>

  <label>
    Nel caso di scuola I / II grado specificate la vostra scuola iniziando iniziate a scrivere il nome nel box sotto:
  </label>

  <input id="school_id" name="user[school_name]" class="border-4 rounded my-2 w-full" list="schools" />
  <datalist id="schools" style="background-color: #ccc;">
    <% School.select(:id, :name, :municipality).each do |s| %>  
      <option data-value="<%= s.id %>" value="<%= s.name + " -- " + s.municipality %>"/>
    <% end %>
  </datalist>

  <%= f.input :school_city %>  
  <%= f.input :school_pec %>  
</div>

<% if @booking %>  
  <div id="seats">
    <%= f.input :seats %>  
  </div>
<% end %>

<%= javascript_tag do %>  
  const role_inputs = document.querySelectorAll('#role_inputs input');
  const school_type_div = document.getElementById('school_type_div');
  const other_string_div = document.getElementById('other_string_div');
  const school_choose = document.getElementById('school_choose');
  const seats = document.getElementById('seats');

  const update = () => {
    r = document.querySelectorAll('#role_inputs input:checked')[0];
    if (seats) {
      seats.style.display = 'none';
    }
    if (r && r.value === 'other') {
      school_type_div.style.display = 'none';
      school_choose.style.display = 'none';
      if (seats) {
        seats.style.display = 'none';
      }
      other_string_div.style.display = 'block';
    } else {
      other_string_div.querySelector('textarea').value = '';
      other_string_div.style.display = 'none';
      school_type_div.style.display = 'block';
      school_choose.style.display = 'block';
      if (r && r.value === 'teacher' && seats) {
        seats.style.display = 'block';
      }
    }
  }

  update();

  role_inputs.forEach((r) => {
    r.addEventListener('change', () => {
      update();
    });
  });
<% end %>

