<div data-controller="user">
  <%= f.input :name %>
  <%= f.input :surname %>

  <div class="my-2" data-user-target="roleInput">
    <%= f.input :role, as: :radio_buttons, collection: [[t(:student_secondary), 'student_secondary'], 
                                                        [t(:student_university), 'student_university'], 
                                                        [t(:teacher), 'teacher'], 
                                                        [t(:other), 'other']] %>
  </div>

  <div data-user-target="otherRoleStringDiv">
    <%= f.input :other_string %>  
  </div>

  <div data-user-target="schoolChoose">
    <% if @user && school = @user.school %>  
      <div data-user-target="choosedSchool" class="p-2 bg-gray-100">
        Scuola <br/>
        <div class="ml-2">
          <%= school %> <br/>
          <%= school.address %> <%= school.cap %> <%= school.municipality %> <br/>
          <%= school.province %> <br/>  
          <%= link_to(link_icon, school.web_url) unless school.url.blank? %>  
          <div class="text-right">
            <%= link_to edit_icon + ' cambia', '#', data: { action: "click->user#change_school" } %>  
          </div>
        </div>
      </div>
    <% end %>
    <div data-user-target="schoolInput" style="display: <%= (@user && school) ? 'none' : 'block' %>">
      <label class="my-4 block">
        Nel caso di scuola I / II grado selezionate la vostra scuola scegliendo prima la città. <br/>
        Nel caso <u>mancasse</u> dall'elenco la vostra scuola vi chiediamo di mandare una email a 
        <a href="mailto:dipmat-supportoweb@unibo.it">dipmat-supportoweb@unibo.it</a>.
      </label>

      <%= render School::SelectComponent.new(f) %>  
    </div>
  </div>

  <% if @booking %>  
    <div data-user-target="seats">
      <%= f.input :seats %>  
    </div>
  <% end %>
</div>
