<div data-controller="user">
  <%= f.input :name %>
  <%= f.input :surname %>

  <div class="my-2" data-user-target="roleInput">
    <%= f.input :role, as: :radio_buttons, collection: [[t(:student_secondary), 'student_secondary'], 
                                                        [t(:student_university), 'student_university'], 
                                                        [t(:teacher), 'teacher'], 
                                                        [t(:other), 'other']] %>
  </div>

  <hr/>

  <div data-user-target="otherStringDiv">
    <%= f.input :other_string %>  
  </div>

  <div data-user-target="schoolChoose">
    <% if @user && @user.school %>  
      <%= render 'schools/school', school: @user.school %>  
    <% end %>

    <label>
      Nel caso di scuola I / II grado specificate la vostra scuola iniziando iniziate a scrivere il nome nel box sotto:
    </label>

    <input id="school_id" name="user[school_name]" class="border-4 rounded my-2 w-full" list="schools" />
    <datalist id="schools" style="background-color: #ccc;">
      <% School.select(:id, :name, :municipality).each do |s| %>  
        <option data-value="<%= s.id %>" value="<%= s.name + " -- " + s.municipality %>"/>
      <% end %>
    </datalist>

    <%= f.input :school_city %>  
    <%= f.input :school_pec %>  
  </div>

  <% if @booking %>  
    <div data-user-target="seats">
      <%= f.input :seats %>  
    </div>
  <% end %>
</div>
