<div class="max-w-3xl mx-auto ">
  <h1 class="title">Aggiorna i tuoi dati</h1>

  <%= simple_form_for @user, html: {class: "max-w-3xl mx-auto"} do |f| %>  
    <%= f.input :email, disabled: !current_user.staff? %>
    <%= render partial: 'users/common_to_booking', locals: { f: f }%>  
    <%= f.submit 'Salva' %>  
  <% end %>
</div>

<%= render 'layouts/privacy' %>  

