<div class="lg:flex content-start">
  <div class="max-w-6xl p-4 mx-auto my-8">
    <div class="pls-card">
      <div class="pls-card-title">Aggiorna i tuoi dati</div>
      <div class="pls-card-content">
        <%= simple_form_for @user do |f| %>  
          <%= f.input :name %>
          <%= f.input :surname %>
          <%= f.input :email %>
          <%= f.submit 'Salva' %>  
        <% end %>
      </div>
    </div>
  </div>
  <div class="lg:w-1/2 p-2">
    <h2 class="my-8">Le tue prenotazioni</h2>
    <% @user.bookings.each do |b| %>  
      <div class="my-4">
        <%= link_to b.activity.is_a?(Event) ? b.activity.edition : b.activity do %>
          <%= render b.activity %>  
        <% end %>
      </div>
    <% end %>
  </div>
</div>
