<h1 class="title">Utenti</h1>

<div class="container">
  <table>
    <% @users.each do |u| %>  
      <tr>
        <th><%= link_to u.to_s, [:edit, u] %></th>
        <td><%= u.role %></td>
        <td><%= u.email %></td>
        <td><%= u.school %></td>
        <td><%= u.school_city %></td>
      </tr>
      <% end %>
  </table>
</div>
