<div class="container my-16">
  <div>
    <p>Gentile <%= @user.cn %></p>
    <p> Sei registrato in questo sito con l'indirizzo di posta <%= @user.email %>
    <% if @user.role %>  
      come <strong><%= t @user.role %></strong>.<br/>
      <% if @user.school_type %> 
        <%= t(@user.school_type).upcase if @user.school_type %><%= @user.other_string if @user.role == 'other' %>. 
        <% if @user.school_id %>
          <%= @user.school %> (<%= @user.school.municipality %>)
        <% end %>
      <% end %>
    <% else %>
      senza avere specificato il tuo ruolo (docente/studente/altro).<br/> Puoi aggiornare i tuoi dati.
    <% end %>
    </p>
  </div>
  <div class="mt-4">
    <%= link_to 'Modifica i miei dati', myedit_users_path, class: 'button' %>  
  </div>

  <div class="p-2">
    <h2 class="title">Le tue prenotazioni</h2>
    <% @user.bookings.each do |b| %>  
      <div class="my-4 bg-pls-light border-l-4 border-pls p-4">
        <%= link_to b.activity.is_a?(Event) ? b.activity.edition : b.activity do %>
          <%= b.activity %>  
        <% end %>
        <div>
          <%= link_to "[Cancella questa iscrizione]", booking_path(b), method: :delete %>  
        </div>
      </div>
      <% end.empty? and begin  %>
      <div class="alert">Nessuna prenotazione.</div>
    <% end %>
    <% Booking.where(teacher_id: @user.id) do |b| %>  
      <li><%= b %></li>
    <% end %>
  </div>
</div>

<%= render 'layouts/privacy' %>  
