<div class="container md:flex">
  <div class="md:w-1/2">
    <h2 class="title">I tuoi dati</h2>
    Sei registrato con l'indirizzo di posta <%= @user.email %>
    <% if @user.role %>  
      <br/>come <strong><%= t @user.role %></strong>
      <% if @user.role == 'student_secondary' || @user.role == 'teacher' %> 
        <% if @user.school %>
          <br/>della scuola <%= @user.school %> (<%= @user.school.municipality %>)
        <% end %>
      <% end %>
    <% else %>
      <br/><strong>senza avere specificato il tuo ruolo (docente/studente/altro).</strong>
      <br/>Puoi aggiornare i tuoi dati
    <% end %>
    <div class="mt-8">
      <%= link_to 'Modifica i miei dati', myedit_users_path, class: 'button' %>  
    </div>
  </div>

  <div class="md:w-1/2">
    <h2 class="title">Le tue iscrizioni</h2>
    <% @bookings.each do |booking| %>
      <%= render Booking::DetailsComponent.new(booking, current_user, deletable: true) %>  
    <% end %>
    <% if @bookings.empty? %>  
      <div class="warning">
        <p>Al momento non sei iscritto ad alcuna attività.</p>
        <p>Le iscrizioni effettuate su siti esterni (i.e. SOFIA, Google Forms, etc.) NON compaiono in questa pagina.</p>
        <p>
        <%= link_to "<i class='fas fa-arrow-alt-circle-right pr-2'></i> Vai all'elenco delle attività a cui è possibile iscriversi.".html_safe, editions_path(bookable: 1), class: 'underline' %>  
        </p>
      </div>
    <% end %> 
  </div>
</div>

<%= render 'layouts/privacy' %>  
