<div class="container max-w-3xl">
  <div class="">
    <h2 class="title">I tuoi dati</h2>

    <div class="p-4 border-2 border-pls-flash text-center">
      <div class="text-lg">
        Sei registrato con l'indirizzo di posta <strong><%= @user.email %></strong>
        <% if @user.role %>  
          <br/>come <%= t(@user.role).upcase %>
          <% if @user.role == 'student_secondary' || @user.role == 'teacher' %> 
            <% if @user.school %>
              <br/>presso la scuola <%= @user.school %> (<%= @user.school.municipality %>)
            <% end %>
          <% end %>
        <% else %>
          <br/><strong>senza avere specificato il tuo ruolo (docente/studente/altro).</strong>
          <br/>Puoi aggiornare i tuoi dati
        <% end %>
      </div>
      <div class="mt-8">
        <% if @current_user.unibo_account? %>  
          <%= link_to 'Disconnetti', logout_path, class: 'button', data: {turbo: false} %>  
        <% else %>
          <%= link_to 'Disconnetti', google_logout_path, class: 'button', data: {turbo: false} %>
        <% end %>
        <%= link_to 'Modifica i miei dati', myedit_users_path, class: 'ml-1 button' %>  
      </div>
    </div>
  </div>

  <div class="mt-6">
    <h2 class="title">Le tue iscrizioni</h2>
    <% @bookings.each do |booking| %>
      <%= render Booking::DetailsComponent.new(booking, current_user, deletable: true) %>  
    <% end %>
    <% if @bookings.empty? %>  
      <div class="warning">
        <p>Al momento non sei iscritto ad alcuna attività.</p>
        <p>Le iscrizioni effettuate su siti esterni (i.e. SOFIA, Google Forms, etc.) NON compaiono in questa pagina.</p>
        <p>
        <%= link_to "<i class='fas fa-arrow-alt-circle-right pr-2'></i> Vai all'elenco delle attività a cui è possibile iscriversi.".html_safe, editions_path(bookable: 1), class: 'underline' %>  
        </p>
      </div>
    <% end %> 
  </div>
</div>

<%= render 'layouts/privacy' %>  
