<div class="container my-16">
  <div>
    Gentile <%= @user.cn %>, sei registrato
    <div class="my-2">
      <% if @user.role %>  
        <div>
          come <strong class="px-2"><%= t @user.role %></strong>
        </div>
        <% if @user.role == 'student_secondary' || @user.role == 'teacher' %> 
          <% if @user.school_id %>
            della scuola <%= @user.school %> (<%= @user.school.municipality %>)
          <% end %>
        <% end %>
      <% else %>
        senza avere specificato il tuo ruolo (docente/studente/altro).<br/> Puoi aggiornare i tuoi dati
      <% end %>
      <div>
        con l'indirizzo di posta <%= @user.email %>.
      </div>
    </div>
  </div>
  <div class="mt-8">
    <%= link_to 'Modifica i miei dati', myedit_users_path, class: 'button' %>  
  </div>

  <div class="p-2">
    <h2 class="title">Le tue iscrizioni</h2>
    <% @user.bookings.each do |b| %>  
      <div class="my-4 bg-pls-light border-l-4 border-pls p-4">
        <%= link_to b.activity.is_a?(Event) ? b.activity.edition : b.activity do %>
          <%= b.activity %>  
        <% end %>
        <div>
          <%= button_to "[Cancella questa iscrizione]", booking_path(b), method: :delete %>  
        </div>
      </div>
      <% end.empty? and begin  %>
      <div class="warning">
        <p>Al momento non sei iscritto ad alcuna attività.</p>
        <p>Le iscrizioni effettuate su siti esterni (i.e. SOFIA, Google Forms, etc.) NON compaiono in questa pagina.</p>
        <p>
        <%= link_to "<i class='fas fa-arrow-alt-circle-right'></i> Vai all'elenco delle attività a cui è possibile iscriversi.".html_safe, projects_path(bookable: 1), class: 'underline' %>  
        </p>
      </div>
    <% end %> 
    <%= render Booking::ListComponent.new(current_user, teacher: true) %>  
  </div>
</div>

<%= render 'layouts/privacy' %>  
