<header class="header">
  <nav role="navigation" class="navbar">
    <div role="button" tabindex="0" id="modal-opener" class="block ml-8 cursor-pointer" data-menu-target="button" data-action="click->menu#toggle_menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <div class="header-title">
      <%= link_to 'PLS UNIBO', root_path %>
    </div>
    <div class="mx-4">
      <div class="header-user">
        <% if @current_user %>  
          <% if @current_user.unibo_account? %>  
            <%= link_to @current_user.email, me_users_path, class: "" %> 
            <%= image_tag('ssologo18x18.png', class: 'inline mx-1') %>  
            <%= link_to "Logout", "https://idptest.unibo.it/adfs/ls/?wa=wsignout1.0" %>
          <% else %>
            <%= link_to @current_user.initials, me_users_path, class: "rounded-full border-2 border-pls text-pls font-bold py-1 px-2" %>
            <%= link_to logout_icon, logout_path %>
          <% end %>
        <% else %>
          <%= link_to 'accedi <i class="fas fa-sign-in-alt"></i>'.html_safe, login_path, class: 'p-1 px-2 border text-pls border-pls ' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
