<div id="modal-menu" data-menu-target="menu">
  <div role="navigation" class="flex flex-col min-h-screen relative w-full h-full lg:w-1/3 bg-gray-50">
    <div class="menu-items px-24 my-4 text-center flex-grow">
      <%= link_to 'home', root_path, class: 'menu-items-item' %>
      <%= link_to 'presentazione', presentation_path, class: 'menu-items-item' %>
      <%= link_to 'attività', projects_path, class: 'menu-items-item' %>
      <%= link_to 'iscrizioni aperte', projects_path(bookable: 1), class: 'menu-items-item' %>
      <%= link_to 'risorse', resource_containers_path, class: 'menu-items-item' %>  
      <%= link_to 'contatti', contacts_page_path, class: 'menu-items-item' %>
      <%= link_to 'privacy', privacy_path, class: 'menu-items-item' %>
      <% if @current_user && @current_user.voyeur? %>  
        <%= link_to 'prenotazioni', bookings_path, class: 'menu-items-item' %>  
      <% end %>
      <% if @current_user && @current_user.staff? %>  
        <div class="mt-4 text-sm">admin</div>
        <%= link_to 'contatti', contacts_path, class: 'menu-items-item' %>
        <%= link_to 'raggruppamenti', clusters_path, class: 'menu-items-item' %>
        <%= link_to 'prenotazioni', bookings_path, class: 'menu-items-item' %>
      <% end %>
      <%= form_tag search_path do %>  
        <input class="mt-4 border border-gray-300 bg-white px-2 py-1 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="cerca"/>
      <% end %>
      <%= render partial: 'layouts/social' %>  
      <div class="lg:flex text-center pt-4">
        <div class="lg:w-1/2 max-h-24 my-2">
          <%= link_to image_tag('logo-unibo.png', class: 'm-auto h-full'), 'https://www.unibo.it' %>
        </div>
        <div class="lg:w-1/2 max-h-24 my-2">
          <%= link_to image_tag('Logo_PLS_s.png', class: 'm-auto h-full'), 'https://www.pianolaureescientifiche.it' %>
        </div>
      </div>
    </div>
  </div>
</div>

