<div id="modal-menu" data-menu-target="menu">
  <div role="navigation" class="flex flex-col min-h-screen relative w-full h-full xl:w-1/3 bg-gray-50 border-r-1 border-t-1 border-b-1 border-pls-light rounded-r-2xl">
    <div class="menu-items px-12 my-4 text-center grow">
      <%= link_to 'home', root_path, class: 'menu-items-item' %>
      <%= link_to 'presentazione', presentation_path, class: 'menu-items-item' %>
      <%= link_to 'attività', projects_path, class: 'menu-items-item' %>
      <%= link_to 'iscrizioni aperte', editions_path(bookable: 1), class: 'menu-items-item' %>
      <%= link_to 'risorse', resource_containers_path, class: 'menu-items-item' %>  
      <%= link_to 'contatti', contacts_page_path, class: 'menu-items-item' %>
      <%= link_to 'privacy', privacy_path, class: 'menu-items-item' %>
      <% if @current_user&.voyeur? %>  
        <div class="mt-4 text-sm">analisi</div>
        <%= link_to 'prenotazioni', bookings_path, class: 'menu-items-item' %>  
        <%= link_to 'report', report_path, class: 'menu-items-item' %>  
      <% end %>
      <% if @current_user&.staff? %>  
        <div class="mt-4 text-sm">amministrazione</div>
        <%= link_to 'contatti', contacts_path, class: 'menu-items-item' %>
        <%= link_to 'raggruppamenti', clusters_path, class: 'menu-items-item' %>
        <%= link_to 'iscrizioni', bookings_path, class: 'menu-items-item' %>
        <%= link_to 'scuole', schools_path, class: 'menu-items-item' %>
        <%= link_to 'risorse', resources_path, class: 'menu-items-item' %>
      <% end %>
      <%= form_with url: search_path, data: {turbo: false} do %>  
        <input class="mt-4 border border-gray-300 bg-white px-2 py-1 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="cerca"/>
      <% end %>
    </div>
  </div>
</div>
