<% @hightlights = [527, 525] %>
<h2 class="title mt-0 text-center">
  I progetti del PLS
</h2>

<div class="container">
  <div id="home-buttons">
    <div class="md:flex items-center justify-center text-center">
      <div class="md:w-1/3 p-4">
        <%= link_to editions_path(on: 1), class: "big-home-button" do %>
          <div class="big-home-button-icon"><i class="fa-regular fa-calendar fa-2xl fa-fw"></i></div>
          <div>LE ATTIVITÀ DEL<br/><%= CURRENT_ACADEMIC_YEAR %>/<%= CURRENT_ACADEMIC_YEAR + 1 %></div>
        <% end %>
      </div>
      <div class="md:w-1/3 p-4">
        <%= link_to editions_path(bookable: 1), class: "big-home-button" do %>
          <div class="big-home-button-icon"><i class="fa-solid fa-calendar-check fa-2xl fa-fw"></i></div>
          <div>ISCRIZIONI APERTE<br/>&nbsp;</div>
        <% end %>
      </div>
      <div class="md:w-1/3 p-4">
        <%= link_to projects_path, class: "big-home-button" do %>
          <div class="big-home-button-icon"><i class="fa-solid fa-ellipsis-vertical fa-2xl fa-fw"></i></div>
          <div>TUTTI I PROGETTI<br/>&nbsp;</div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @hightlights.any? %>
    <h3 class="title text-center my-16">In evidenza</h3>
  <% end %>

  <div class="flex flex-wrap">
    <% @hightlights.each do |i| %>
      <div class="md:w-1/2 px-4 mt-2">
        <% e = Edition.find(i) %>
        <%= render Activity::CardComponent.new(e) %>
      </div>
    <% end %>
  </div>
</div>
