<% @hightlights = [630, 631] %>
<h2 class="title mt-0 text-center">
  I progetti del PLS
</h2>

<div class="container">
  <div id="home-buttons">
      <div class="home-button-container">
        <%= link_to editions_path(on: 1), class: "big-home-button bg-pls-flash" do %>
          <div class="big-home-button-icon"><i class="fa-regular fa-calendar fa-xl fa-fw"></i></div>
          <div>LE ATTIVITÀ DEL<br/><%= CURRENT_ACADEMIC_YEAR %>/<%= CURRENT_ACADEMIC_YEAR + 1 %></div>
        <% end %>
      </div>
      <div class="home-button-container">
        <%= link_to editions_path(bookable: 1), class: "big-home-button bg-pls-light2" do %>
          <div class="big-home-button-icon"><i class="fa-solid fa-calendar-check fa-xl fa-fw"></i></div>
          <div>ISCRIZIONI APERTE<br/>&nbsp;</div>
        <% end %>
      </div>
      <div class="home-button-container">
        <%= link_to projects_path, class: "big-home-button bg-pls-light" do %>
          <div class="big-home-button-icon"><i class="fa-solid fa-ellipsis-vertical fa-xl fa-fw"></i></div>
          <div>TUTTI I PROGETTI<br/>&nbsp;</div>
        <% end %>
      </div>
  </div>

  <% if @hightlights.any? %>
    <h3 class="title text-center my-16">In evidenza</h3>
  <% end %>

  <div class="flex flex-wrap w-4/5 m-auto">
    <% @hightlights.each do |i| %>
      <div class="md:w-1/2 px-4 mt-2">
        <% e = Edition.find(i) %>
        <%= render Activity::CardComponent.new(e) %>
      </div>
    <% end %>
  </div>
</div>
