<div id="home_logo">
  <%= image_tag 'Logo_PLS_bg.png' %>  
</div>

<%= render "title" %>

<div class="pb-16">
  <%= render "areas", areas: @areas %>  
</div>

<div class="pt-16 pb-32 bg-home-bg1">
  <%= render "projects" %>  
</div>

<div class="py-16">
  <%= render "pls" %>  
</div>
