<h1 class="h-32 p-32 title">
PIANO LAUREE SCIENTIFICHE
</h1>

<div class="lg:flex lg:flex-wrap mx-4 lg:mx-6">
  <% @areas.each do |area| %>  
    <%= link_to area do %>  
      <div class="lg:w-1/3 lg:p-4">
        <%= link_to area do %>
          <div class="relative border border-gray-700 shadow rounded-xl p-2 my-6 h-72" 
               style="background: no-repeat center url(<%= asset_pack_path(area_image(area)) %>); background-size: cover; ">
               <div class="absolute -bottom-2 -right-2 bg-white rounded-xl p-4 px-8 border border-gray-700 shadow-2xl text-right">
                 <h2 class="inline align-text-bottom text-2xl text-pls">
                   <%= area.name %>
                 </h2>
                 <div class="mt-1 text-sm">
                   Responsabile: <%= area.contact %> 
                 </div>
               </div>
               <div class="absolute rounded-full p-4 -top-2 -left-2 bg-white border border-gray-700 text-pls-strong">
                 <%= area_icon(area, size: 30) %>
               </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="lg:w-1/3 lg:p-2">
    <div class="border-2 border-gray-200 shadow-xl rounded-xl p-2 my-6 h-72 bg-pls-light text-gray-700">
      <h2>Partecipanti</h2>
      <% Organization.order(:name).each do |org| %>
        <div class="pl-4 m-1"><%= org %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="lg:grid lg:gap-8 text-center">
  <div>
    <%= link_to 'Attività per studenti di scuola secondaria di secondo grado', '', class: 'button w-1/3' %>
  </div>
  <div>
    <%= link_to 'Attività per docenti di scuola secondaria', '', class: 'button w-1/3' %>
  </div>
  <div>
    <%= link_to 'Attività per studenti UNIBO', '', class: 'button w-1/3' %>
  </div>
  <div>
    <%= link_to 'Attività aperte al pubblico', '', class: 'button w-1/3' %>
  </div>
</div>

<div>
  <h2>Calendario</h2>
</div>
