<div id="home_logo">
  <%= image_tag 'Logo_PLS_bg.png' %>  
</div>

<%= render "title" %>  
<%= render "areas", areas: @areas %>  
<%= render "highlights" %>
<%= render "home_buttons" %>  
<%= render "pls" %>  
