<div class="pls-card">
  <div class="pls-card-title">
    <%= l event.start_date %>
    <%= event.name %>
  </div>
  <div class="pls-card-content">
    <%= event.description %>  
  </div>
  <div class="pls-card-footer">
    <% event.contacts.each do |contact| %>  
      <div>
        <%= contact %>
      </div>
    <% end %>
    <% event.speakers.each do |speaker| %>  
      <div>
        <%= speaker %>
      </div>
    <% end %>
    <% if event.google_map %>  
      <%= raw event.google_map %>
    <% end %>
  </div>
</div>

