<div class="m-6">
  <%= simple_form_for [@edition, @event] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :place %>
    <%= f.input :google_map %>
    <%= f.input :start_date, minute_step: 10 %>
    <%= f.input :duration %>

    <%= f.input :seats %>
    <div class="my-2">
      <%= f.input :sofia %>
      <%= f.input :pcto %>
    </div>

    <% unless @edition.atomic %>  
      <%= f.input :bookable, collection: [['no', 'no'], ['si', 'yes'], ['da confermare', 'to_confirm'], ['esterne', 'external']], include_blank: false %>
      <div id="booking_url">
        <%= f.input :booking_url %>
      </div>
      <div id="booking_dates">
        <%= f.input :booking_start, minute_step: 10 %>
        <%= f.input :booking_end, minute_step: 10 %>
      </div>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>

<%= javascript_tag do %>  
  display_unless('no', document.getElementById('booking_dates'), document.getElementById('event_bookable'));
  display_if('external', document.getElementById('booking_url'), document.getElementById('event_bookable'));
<% end %>
