<div class="m-6">
  <%= simple_form_for [@edition, @event] do |f| %>
    <%= f.input :hidden %>  
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.input :description %>

    <%= f.input :in_presence %>
    <div id="if_in_presence">
      <%= f.input :place %>
      <%= f.input :google_map, as: :string, placeholder: 'https://' %>
    </div>

    <%= f.input :online %>
    <div id="if_online">
      <%= f.input :access_url, as: :string, placeholder: 'https://' %>
    </div>

    <%= f.input :start_date, minute_step: 10 %>
    <%= f.input :duration %>

    <% unless @edition && @edition.atomic %>  
      <%= f.input :seats %>
      <div class="my-2">
        <%= f.input :sofia %>
        <%= f.input :pcto %>
      </div>

      <%= render Booking::TipologyFormComponent.new(f) %>  
    <% end %>

    <%= f.submit %>
  <% end %>
</div>

<%= javascript_tag do %>  
  document.addEventListener('DOMContentLoaded', (event) => {
    display_unless(['no'], document.getElementById('booking_dates'), document.getElementById('event_bookable'));
    display_if('external', document.getElementById('booking_url'), document.getElementById('event_bookable'));
    display_if_checked(document.getElementById('if_in_presence'), document.getElementById('event_in_presence'));
    display_if_checked(document.getElementById('if_online'), document.getElementById('event_online'));
  });
<% end %>
