<h1>Events</h1>

<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= l event.start_date %> <br/><%= event.place %></td>
        <% if current_user.staff %>  
          <td>
            <%= link_to 'Show', event %><br/>
            <%= link_to 'Edit', edit_event_path(event) %><br/>
            <%= link_to_delete "", event %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Event', new_event_path %>
