<div class="lg:flex">
  <div class="h-48 lg:h-auto w-full lg:w-1/2 min-h-24" style="background-image: url(<%= asset_path 'pages/scienza_al_cinema.svg' %>); background-size: cover; min-height: 300px">
    &nbsp;
  </div>
  <div class="w-full lg:w-1/2 lg:pr-24 text-center text-pls text-4xl lg:text-6xl pt-8 lg:pt-16">
    <%= @edition.name %><br/>
    <span class="text-xl">dal 17 ott 2022</span>
    <h1 class="font-bold text-2xl tracking-tight pt-8 lg:pt-24 text-center text-pls">
      Attività aperta al pubblico 
    </h1>

    <h2 class="font-bold text-2xl tracking-tight py-6 pb-16 text-center text-pls">
      <%= @edition.academic_year_to_s %>
    </h2>
  </div>
</div> 

<div class="container">
  <%= render Activity::AttributesComponent.new(@edition.project) %>  
</div>

<div class="container my-8">
  <%= render Page::EditionComponent.new(@edition, current_user) %>
</div>

