<div class="lg:flex">
  <div class="h-48 lg:h-auto w-full lg:w-1/2 min-h-24" style="background-image: url(<%= asset_pack_path 'static/scienza_al_cinema.svg' %>); background-size: cover; min-height: 300px">
    &nbsp;
  </div>
  <div class="w-full lg:w-1/2 lg:pr-24 text-center text-pls text-4xl lg:text-6xl pt-8 lg:pt-16" style="background-color: #f0f0f0">
    <%= @edition.name %><br/>
    <span class="text-xl">16 ott 2021</span>
    <h1 class="font-bold text-2xl tracking-tight pt-8 lg:pt-24 text-center text-pls">
      Attività aperta al pubblico 
    </h1>

    <h2 class="font-bold text-2xl tracking-tight py-6 pb-16 text-center text-pls">
      <%= @edition.academic_year_to_s %>
    </h2>
  </div>
</div> 

<div class="custom-shape-divider-top-1632301257">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

<div class="container">
  <%= render partial: 'projects/attributes', locals: { project: @edition.project } %>  
</div>

<div class="container my-8">
  <%= render EditionComponent.new(edition: @edition, skip_title: true, with_image: true) %>
</div>

