<div class="w-3/4 lg:w-1/2 mx-auto">
  <%= simple_form_for @contact do |f| %>  
    <%= f.input :name %>  
    <%= f.input :email %>  
    <%= f.input :web_page %>  
    <%= f.submit %>  
  <% end %>
</div>
