<div class="container">
  <h1 class="title">Contatti</h1>

  <% if params[:area] == '1' %>  
    <h2 class="text-center">I docenti Unibo che si occupano del PLS</h2>
  <% end %>

  <div class="max-w-3xl">
    <% @contacts.each do |c| %>  
      <div class="p-1 border-b border-gray-300">
        <%= c.name %> 

        <% if params[:area] == '1' %>  
          <div><% areas_to_s(c.areas) %></div>
        <% end %>

        <div class="float-right pl-4">
          <% if c.deletable? %>
            <%= link_to_delete c %>
          <% end %>
          <%= mail_to(c.email, mail_icon) unless c.email.blank? %>
          <%= link_to(link_icon, c.web_page) unless c.web_page.blank? %>
          <%= link_to_edit_if_editable(c) %>
        </div> 
      </div>
    <% end %>
    <div class="my-4">
      <%= link_to 'Aggiungi nuovo contatto', new_contact_path, class: 'button' %>  
    </div>
  </div>
</div>
