<div class="container">
  <h1 class="title">Contatti</h1>

  <% if params[:area] == '1' %>  
    <h2 class="text-center">I docenti Unibo che si occupano del PLS</h2>
  <% end %>

  <div class="max-w-4xl mx-auto">
    <% @contacts.each do |contact| %>  
      <div class="p-2 border-b border-gray-300">
        <%= contact.cn_militar %> 
        <span class="px-4 text-gray-700 text-sm"><%= contact.affiliation %></span>

        <% if params[:area] == '1' %>  
          <div><%= areas_to_s(contact.areas) %></div>
        <% end %>

        <div class="float-right pl-4">
          <%= mail_to(contact.email, mail_icon) unless contact.email.blank? %>
          <%= link_to(link_icon, contact.web_page) unless contact.web_page.blank? %>
          <% if contact.deletable? %>
            <%= link_to_delete contact %>
          <% end %>
          <%= link_to_edit_if_editable(contact) %>
        </div> 
      </div>
    <% end %>
    <div class="my-4">
      <%= link_to 'Aggiungi nuovo contatto', new_contact_path, class: 'button' %>  
    </div>
  </div>
</div>
