var modal = document.getElementById('main-modal');

var content = `
  <h2 class="my-2"><%= @contact.name %> <%= @contact.surname %></h2>
  <hr/>
  <div class="md:flex">
    <div class="pr-4">
      <% if @contact.avatar.attached? %>
        <%= image_tag @contact.avatar.variant(resize_to_limit: [200, 200]), class: 'rounded p-0 my-4', style: "height: 200px" %>
      <% end %>
    </div>
    <div>
      <div class="mt-4 italic text-gray-700"><%= @contact.description %></div>
      <div class="my-2"><%= @contact.affiliation %></div>
      <div class="my-4">
      <div><%= mail_to @contact.email, @contact.email %></div>
      <div><%= link_to @contact.web_page, @contact.web_page, target: 'new' %></div>
    </div>
  </div>
 `;

document.getElementById('main-modal-body').innerHTML = content;
modal.style.display = 'block';

modal.addEventListener('click', () => {
  document.getElementById('main-modal').style.display = 'none';
})

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
