<div id="filter-toggler" class="inline-block border border-gray-700 px-4 p-2 my-2">
  <a href="javascript:void(0);" onclick="toggle_filters();">Filtri <i class="fas fa-filter"></i></a>
</div>
<div id="filters" class="hidden bg-gray-50 border border-gray-500 py-4">
  <div class="lg:flex w-full">
    <div id="years" class="p-4 border-r-2">
      <h4 class="text-base font-bold text-pls-strong pb-2">Anno accademico</h4>
      <% Edition.all_academic_years.each do |y| %>  
        <input type="checkbox" id="yr_<%= y %>" name="years" value="<%= y %>"/>
        <label for="yr_<%= y %>"> <%= academic_year(y) %></label> <br/>
      <% end %>
    </div>
    <% unless defined?(no_area_filter) && no_area_filter %>  
      <div id="areas" class="p-4 border-r-2">
        <h4 class="text-base font-bold text-pls-strong pb-2">Area</h4>
        <% Area.order(:name).each do |a| %>  
          <input type="checkbox" id="ar_<%= a.id %>" name="areas" value="<%= a.id %>"/>
          <label for="ar_<%= a.id %>"><%= a.name %> </label> <br/>
        <% end %>
      </div>
    <% end %>
    <div id="audiences" class="flex-grow p-4 border-r-2">
      <h4 class="text-base font-bold text-pls-strong pb-2">Rivolto a</h4>
      <% Audience.order(:name).each do |a| %>  
        <input type="checkbox" id="au_<%= a.id %>" name="audiences" value="<%= a.id %>"/>
        <label for="au_<%= a.id %>"><%= a.name %> </label> <br/>
      <% end %>
    </div>
    <div id="activity_types" class="p-4">
      <h4 class="text-base font-bold text-pls-strong pb-2">Tipologia</h4>
      <% ActivityType.order(:name).each do |a| %>  
        <input type="checkbox" id="at_<%= a.id %>" name="activity_types" value="<%= a.id %>"/>
        <label for="at_<%= a.id %>"><%= a.name %> </label> <br/>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <a href="javascript:void(0);" onclick="toggle_filters();" class="button">OK</a>
    <a href="javascript:void(0);" onclick="clear_filters();" class="mx-2 underline">Pulisci filtri</a>
  </div>
</div>

<div id="noresults" style="display: none" class="alert my-4">
  Non sono registrate attività che soddisfino ai criteri selezionati.
</div>

  <%= javascript_tag do %>  
    <%= render 'projects/filters.js' %>  
  <% end %>
