<div class="filters text-center p-2">
  Anno
  <select id="select-year">
    <option value="">mostra tutti</option>
    <% Edition.all_academic_years.each do |y| %>  
      <option value="<%= y %>"><%= academic_year(y) %></option>
    <% end %>
  </select>
  Audience
  <select id="select-audience">
    <option value="">mostra tutti</option>
    <% Audience.order(:name).each do |a| %>  
      <option value="<%= a.id %>"><%= a.name %></option>
    <% end %>
  </select>
</div>

<%= javascript_tag do %>  
  const year_selector = document.getElementById('select-year');
  const audience_selector = document.getElementById('select-audience');
  var year = '';
  var audience_id = '';
  var search_string = '2020-';

  const update = () => {
    search_string = `${year}-${audience_id}`;
    console.log(search_string);
    
    document.querySelectorAll('.project').forEach ( (p) => {
      if (p.getAttribute('data-editions').includes(search_string)) {
        p.style.display = 'block';
      } else {
        p.style.display = 'none';
      }
    });
  };

  audience_selector.addEventListener('change', () => {
    audience_id = audience_selector.querySelector('option:checked').value;
    update();
  });

  year_selector.addEventListener('change', () => {
    year = year_selector.querySelector('option:checked').value; 
    update();
  });

  update();
<% end %>
