<div class="">
  <%= simple_form_for @project do |f| %>  
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 5 } %>
    <%= f.rich_text_area :details %>
    <%= f.association :activity_type, include_blank: false %>  
    <%= f.input :global %>  
    <div id="areas_select">
      <%= f.association :areas, as: :check_boxes %>  
    </div>
    <%= f.association :interested_areas, as: :check_boxes %>  
    <%= f.submit %>  
  <% end %>
</div>

<%= javascript_tag do %>  
  glb = document.getElementById('activity_global');
  area_form = document.getElementById('areas_select');
  area_form.style.display = glb.checked ? 'none': 'block';

  glb.addEventListener('click', function() {
    area_form.style.display = glb.checked ? 'none': 'block';
  });
<% end %>

