<div class="p-2">
  <%= simple_form_for @project do |f| %>  
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 5 } %>
    <%= f.rich_text_area :details %>
    <%= f.association :activity_type, include_blank: false %>  
    <div class="my-4">
      <%= f.input :global, input_html: { id: 'activity_global' } %>  
    </div>
    <div class="md:flex">
      <div class="md:w-1/2" id="areas_select">
        <%= f.association :areas, as: :check_boxes %>  
      </div>
      <div class="md:w-1/2">
        <%= f.association :interested_areas, as: :check_boxes %>  
      </div>
    </div>
    <% if false %>  
      <%= f.association :organization %>  
    <% end %>
    <%= f.submit %>  
  <% end %>
</div>

<%= javascript_tag do %>  
  var global = document.getElementById('activity_global');
  var area_form = document.getElementById('areas_select');
  area_form.style.display = global.checked ? 'none': 'block';

  global.addEventListener('click', function() {
    area_form.style.display = global.checked ? 'none': 'block';
  });
<% end %>

