<% border_color = project.current_year? ? 'border-pls-light' : 'border-gray-200' %>  

<div class="h-full flex flex-col my-2 bg-gray-100 border-t-4 <%= border_color %> rounded p-4 hover:bg-pls-light hover:shadow-xl">
  <div class="flex-grow text-center">
    <%= project.activity_type %>
    <h3 class="font-semibold"><%= project.name.upcase %></h3>
  </div>
  <div class="text-sm text-gray-700 text-right">
    <% if project.organization_id %>  
      <div class="text-sm mb-2"><%= project.organization %></div>
    <% end %>
    <div><strong>Organizzato da:</strong> <%= project.areas_to_s %></div>
    <div><%= possible_label_from_array 'Altre aree di interesse', project.interested_areas - project.areas, margins: 'my-0', separator: ', ', with_link: false %></div>
    <div><%= project_academic_years_to_s(project) %></div>  
  </div>
</div>
