<div class="container">
  <h1 class="title"><%= link_to @project.to_s, @project %></h1>

  <div class="text-center text-2xl my-2">
    <%= link_to_delete_if_deletable "", @project %>
  </div>

  <div class="xl:flex">
    <div class="xl:w-2/3 px-4">
      <%= render partial: 'form' %>  
    </div>
    <div class="xl:w-1/3 px-4">
      <div>
        <%= render Contact::EditComponent.new(what: @project, can_add: policy(@project).edit?) %>
      </div>
      <div class="mt-8">
        <%= render Edition::EditComponent.new(@project, current_user) %>
      </div>

      <%# <%= render Resourceable::EditResourcesComponent.new(@project, current_user) %> 
    </div>
  </div>
</div>
