<h1 class="title">Le attività del PLS</h1>

<div class="text-center my-4">
  <%= link_to('Nuova Attività', new_project_path, class: 'button') if policy(:project).new? %>  
</div>

<div>
  <% @projects.each do |activity| %>  
    <div class="activity border-2 m-2 p-2 px-4">
      <div class="text-lg">
        <span class="toggable-link cursor-pointer">
          <i class="fas fa-chevron-right mr-2"></i></span>
        <%= link_to [:edit, activity] do %>
          <%= activity.name.upcase %>
        <% end %>
        <span class="float-right text-sm">
          <span class="text-white bg-yellow-700 rounded px-2"><%= activity.activity_type %></span>
          organizzazione: <%= activity.areas_to_s %>
        </span>
      </div>
      <div class="toggable hidden">
        <div class="text-right text-sm">
          Contatti: <%= activity.contacts.map(&:name).join(', ') %>
        </div>
        <div>
          <div class="">
            <% activity.editions.each do |edition| %>  
              <div>
                <%= link_to edition, [:edit, edition] %> 
                <span class="text-sm">(<%= edition.academic_year_to_s %>)</span>
                <div class="">
                  <% edition.events.order(:start_date).each do |event| %>  
                    <%= link_to [:edit, event] do  %>  
                      <div class="pl-4 my-2">
                        <i class="fas fa-caret-right mr-2"></i> <span class="text-sm mr-2"><%= l event.start_date, format: :short %></span>  
                        <%= event.name %> 
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>  
  const elements = document.querySelectorAll('.toggable-link');
  elements.forEach(element => {
    element.addEventListener('click', () => {
      element.innerHTML = '<i class="fas fa-chevron-down"></i>'
      element.parentElement.nextElementSibling.classList.toggle('hidden')
    })
  })
<% end %>
