<div class="container">
  <h2 class="py-8">
    <span class="px-4 py-2 text-pls">
      <%= @project.activity_type.name.upcase %>  
    </span>
  </h2>

  <h1 class="title">
    <%= @project %>
  </h1>

  <%= render partial: 'projects/attributes', locals: { project: @project } %>  

  <div class="text-right">
    <%= link_to_edit_if_editable @project, msg: 'modifica i dati del progetto' %>
  </div>

  <div class="my-8 max-w-5xl">
    <%= simple_format @project.description %>  
  </div>

  <div class="my-8 max-w-5xl text-gray-700 text-justify">
    <%= @project.details %>  
  </div>
</div>

<% @editions.each do |edition| %>  
  <div class="py-8">
    <%= render EditionComponent.new(edition: edition, short: true, title_if_different_from: @project.name) %>
  </div>
<% end %>
