<div class="container">
  <div class="text-center text-2xl mt-4">
    <%= @project.activity_type.name.upcase %>  
  </div>

  <h1 class="title">
    <%= @project %>
  </h1>

  <%= render partial: 'projects/attributes', locals: { project: @project } %>  

  <div class="text-right">
    <%= link_to_edit_if_editable @project, msg: 'Modifica i dati del progetto' %>
  </div>

  <div class="my-4 max-w-5xl text-lg">
    <%= simple_format @project.description.upcase %>  
  </div>

  <div class="my-8 max-w-5xl text-gray-900 text-justify">
    <%= @project.details %>  
  </div>
</div>

<% @editions.each do |edition| %>  
  <div class="relative border-t-4 border-pls-light pt-8 mt-16">
    <div class="container">
      <div class="border-4 border-pls-light bg-white text-3xl font-bold absolute -top-8 text-pls p-4 px-8 rounded-2xl tracking-wider">
        <%= link_to edition.academic_year_to_s, edition %>
      </div>
      <%= render Edition::EditionComponent.new(edition: edition, short: true, title_if_different_from: @project.name) %>
    </div>
  </div>
<% end %>
