<h1 class="title">
  <%= @project %>
  <%= link_to_edit_if_editable @project %>
</h1>

<h2 class="lg:ml-auto m-4 p-4 lg:mr-4 lg:max-w-4xl bg-blue-100 text-gray-900 font-light text-lg text-right rounded-xl border-gray-900 border-4">
  <%= @project.activity_type %> - <%= @project.audience %><br/>
  <div class="text-sm">
    Organizzato da 
    <% @project.areas.each do |area| %>  
      <%= link_to area, area %>  
    <% end %> <br/>
    Contatti: <%= @project.contacts.map(&:name).join(', ') %>  
  </div>
</h2>

<div class="text-right my-4 mx-8 text-lg">
  <%= simple_format @project.description %>  
</div>
<div class="text-right my-4 mx-8 text-gray-700">
  <%= @project.details %>  
</div>

<h2 class="text-center text-4xl mx-auto my-8">Edizioni</h2>

<div class="m-4 py-4">
  <% @editions.each do |edition| %>  
    <%= render(EditionComponent.new(edition: edition)) %>
  <% end %>
</div>
