<div class="container">
  <h2 class="py-2 pt-16 pb-8">
    <%= @project.activity_type.name.upcase %>  
  </h2>

  <h1 class="title">
    <%= @project %>
  </h1>

  <div class="text-right">
    <div>
      <%= possible_label_from_array 'Organizzato da', @project.areas %>  
    </div>
    <div>
      <%= possible_label_from_array 'Contatti', @project.contacts %>  
    </div>
    <div>
      <%= possible_label_from_array 'Aree di interesse', @project.interested_areas %>  
    </div>
  </div>
  <div class="text-right">
    <%= link_to_edit_if_editable @project %>
  </div>

  <div class="text-right my-8 ">
    <%= simple_format @project.description %>  
  </div>

  <div class="text-right my-4 text-gray-700">
    <%= @project.details %>  
  </div>
</div>

<% @editions.each do |edition| %>  
  <div class="py-8 bg-white">
    <%= render EditionComponent.new(edition: edition) %>
  </div>
<% end %>
