<div class="container">
  <h2 class="py-8">
    <%= @project.activity_type.name.upcase %>  
  </h2>

  <h1 class="title">
    <%= @project %>
  </h1>

  <div class="text-right">
    <%= possible_label_from_array 'Organizzato da', @project.areas %>  
    <%= possible_label_from_array 'Contatti', @project.contacts %>  
    <%= possible_label_from_array 'Aree di interesse', @project.interested_areas %>  
  </div>

  <div class="text-right">
    <%= link_to_edit_if_editable @project %>
  </div>

  <div class="my-8 max-w-5xl">
    <%= simple_format @project.description %>  
  </div>

  <div class="my-8 max-w-5xl text-gray-700 text-justify">
    <%= @project.details %>  
  </div>
</div>

<% @editions.each do |edition| %>  
  <div class="py-8">
    <%= render EditionComponent.new(edition: edition, short: true, title_if_different_from: @project.name) %>
  </div>
<% end %>
