<div class="area-project" data-editions="<%= project.editions_year_and_audience_id %>">
  <%= link_to project do %>  
    <div class="h-full my-4 text-center bg-white border border-pls-light rounded-xl p-4 px-8 hover:bg-gray-100">
      <h3 class="font-semibold py-2"><%= project.name.upcase %></h3>
      <p class=""><%= project.activity_type %></p>
      <div class="text-sm text-gray-700 text-justify mt-4">
        <%= project.description %>  
      </div>
    </div>
  <% end %>
</div>
