<div class="w-full overflow-hidden" 
     style="height: 60vh; background: no-repeat fixed center url(<%= asset_path(area_image(@area)) %>); background-size: cover;">
     <h1 class="m-2 md:m-8 text-5xl lg:text-8xl tracking-wide font-semibold text-white text-center">
       <span class="px-4 bg-pls bg-opacity-80 rounded-xl"><%= @area %></span>
     </h1>
</div>

<div class="lg:relative">
  <div class="relative lg:ml-auto -top-16 lg:right-8 lg:max-w-4xl 2xl:max-w-6xl mx-2 bg-pls-light font-light lg:text-xl text-justify rounded-xl p-6 border-gray-900 border-4">
    <%= @area.description %>
    <div class="text-sm mt-4">
      Responsabile: <%= @area.head %>
    </div>
    <div class="text-right">
      <%= link_to_edit_if_editable @area, msg: 'modifica descrizione e responsabile' %>
    </div>
  </div>
</div>

<div class="container">
  <% if policy(:project).new? %>  
    <div class="text-center my-4">
      <%= link_to 'Aggiungi nuova attività', new_project_path, class: 'button' %>
    </div>
  <% end %>

  <% if @this_area_evidence.any? %>  
    <h2 class="title py-2">In evidenza</h2>
    <%= render Edition::ListComponent.new(@this_area_evidence, current_user, in_evidence: true) %>
  <% end %>

  <h2 class="title py-2">Tutte le attività <%= academic_year(CURRENT_ACADEMIC_YEAR) %></h2>

  <% unless current_user && current_user.staff? %>  
    <div class="my-8">
      Altre informazioni per le attività 2021/2022 per l'area <strong><%= @area %></strong> sono disponibili alla pagina <br/>
      <div class="text-center my-8">
        <%= link_to ACCROCCHIO_VECCHIO_SITO[@area.id], ACCROCCHIO_VECCHIO_SITO[@area.id], class: 'underline text-xl' %>
      </div>
    </div>
  <% end %>

  <%= render Project::ProjectsListComponent.new(@this_area_projects, no_year_filter: true, no_area_filter: true) %>  

  <% if @common_projects.any? %>  
    <h3 class="title my-16">Le attività comuni</h3>
    <%= render Project::ProjectsListComponent.new(@common_projects, no_filter: true) %>
  <% end %>

  <% if @resource_containers.any? %>  
    <h2 class="title py-2">Le risorse</h2>

    <div class="md:flex md:flex-wrap">
      <% @area.resource_containers.order(:name).each do |resource_container| %>  
        <div class="md:w-1/4 p-2">
          <%= render resource_container %>  
        </div>
      <% end %>
    </div>
  <% end %>
</div>
