<div class="w-full h-3/5 overflow-hidden" 
     style="background: no-repeat fixed center url(<%= asset_pack_path(area_image(@area)) %>); background-size: cover;">
     <div class="m-8 text-5xl lg:text-8xl text-white text-center">
       <%= @area %>
     </div>
</div>

<div class="lg:relative">
  <div class="relative lg:ml-auto -top-16 lg:right-8 lg:max-w-6xl mx-2 bg-pls-light font-light lg:text-lg lg:text-xl text-justify rounded-xl p-6 border-gray-900 border-4">
    <%= @area.description %>
    <div class="text-sm text-right mt-4">
      <%= @area.contact %>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title py-2">Le attività</h2>
  <div class="lg:flex lg:flex-wrap">
    <% @area.projects.includes(:activity_type, :audience).order(:name).each do |project| %>  
      <div class="lg:w-1/3 p-2 lg:p-4">
        <%= link_to project do %>  
          <%= render 'projects/project', project: project %>  
        <% end %>
      </div>
    <% end %>
  </div>

  <p class="m-4">Attività comuni:</p>

  <div class="lg:flex lg:flex-wrap">
    <% Project.where(global: true).includes(:activity_type, :audience).order(:name).each do |project| %>  
      <div class="lg:w-1/3 p-2 lg:p-4">
        <%= link_to project do %>  
          <%= render 'projects/project', project: project %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="lg:w-1/4">
    <% @area.resource_containers.order(:name).each do |resource_container| %>  
      <h3><%= resource_container.name %></h3>
      <% resource_container.resources.each do |ri| %>  
        <div>
          <%= render ResourceComponent.new(ri) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
