<div class="title"><%= @area %></div>

<div class="lg:flex">
  <div class="lg:w-1/2">
    <%= area_image(@area, size: 800) %>  
  </div>
  <div class="lg:w-1/2 text-gray-900 font-light">
    <div class="bg-blue-100 text-gray-900 font-light text-sm rounded-xl p-4">
      <%= @area.description %>
    </div>

    <div class="my-8 text-right">
      <% @area.activities.includes(:activity_type, :audience).order(:name).each do |activity| %>  
        <div class="border-r-4 border-blue-400 pr-2">
          <%= link_to [:edit, activity] do %>  
            <%= activity.name %> <span class="text-sm">(<%= activity.activity_type %> per <%= activity.audience %>)</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
