<div class="w-full h-3/5 overflow-hidden" 
     style="background: no-repeat fixed center url(<%= asset_pack_path(area_image(@area)) %>); background-size: cover;">
   <div class="m-8 text-6xl lg:text-8xl text-white">
     <%= @area %>
   </div>
</div>
<div class="lg:relative">
  <div class="relative lg:ml-auto -top-16 lg:right-8 lg:max-w-6xl mx-2 bg-blue-100 text-gray-900 font-light text-lg lg:text-xl text-justify rounded-xl p-6 border-gray-900 border-4">
    <%= @area.description %>
    <div class="text-sm text-right mt-4">
      <%= @area.contact %>
    </div>
  </div>
</div>
<div class="text-right text-xl my-2">
  <h2 class="title">Le attività</h2>
  <% @area.projects.includes(:activity_type, :audience).order(:name).each do |project| %>  
    <%= render 'project', project: project %>  
  <% end %>

  <h2 class="title">Attività comuni</h2>
  <% Project.where(global: true).includes(:activity_type, :audience).order(:name).each do |project| %>  
    <%= render 'project', project: project %>
  <% end %>
</div>

