<div class="w-full overflow-hidden" 
     style="height: 60vh; background: no-repeat fixed center url(<%= asset_path(area_image(@area)) %>); background-size: cover;">
     <h1 class="m-4 my-24 text-4xl lg:text-8xl tracking-wide font-semibold text-white text-center leading-relaxed">
       <span class="px-4 bg-pls bg-opacity-80 rounded-xl"><%= @area %></span>
     </h1>
</div>

<div class="lg:relative">
  <div class="relative lg:ml-auto -top-16 lg:right-8 lg:max-w-4xl 2xl:max-w-6xl mx-2 bg-pls-light font-light lg:text-xl rounded-xl p-6 border-gray-900 border-4">
    <div class="text-justify">
      <%= simple_format @area.description %>
    </div>
    <div class="text-sm mt-4">
      <div>Responsabile: <%= @area.head %></div>
      <div><%= render Contact::InlineContactsComponent.new(@area.contacts) %></div>
    </div>
    <div class="text-right">
      <%= link_to_edit_if_editable @area, msg: 'modifica descrizione e responsabile' %>
    </div>
  </div>
</div>

<div class="container">
  <% unless @area.notice.blank? %>  
    <div class="area-notice">
      <%= raw @area.notice %>  
    </div>
  <% end %>

  <% if policy(:project).new? %>  
    <div class="text-center my-4">
      <%= link_to 'Aggiungi nuova attività', new_project_path, class: 'button' %>
    </div>
  <% end %>

  <% if @edition_evidences.any? %>  
    <h2 class="title">In evidenza</h2>
    <%= render Edition::ListComponent.new(@edition_evidences, current_user, in_evidence: true) %>
  <% end %>

  <h2 class="title">Tutte le attività <%= academic_year(CURRENT_ACADEMIC_YEAR) %></h2>
  <%= render Edition::ListComponent.new(@editions, current_user) %>  

  <div class="text-center text-xl mt-4 mb-8">
    <%= link_to 'Mostra tutte le attività', projects_path(area_id: @area.id), class: 'underline' %> 
  </div>

  <% if @common_projects.any? %>  
    <h2 class="title">Le attività comuni</h3>
    <%= render Project::ListComponent.new(@common_projects, no_filter: true) %>
  <% end %>


  <% if @resource_containers.any? %>  
    <h2 class="title">Le risorse</h2>
    <div class="md:flex">
      <% @resource_containers.each do |resource_container| %>  
        <%= render ResourceContainer::CardComponent.new(resource_container, current_user) %>  
      <% end %>
    </div>
  <% end %>
</div>

<div class="my-16 text-2xl text-center">
  <i class="fa-solid fa-box-archive fa-2xl px-4"></i>
  <%= link_to 'ARCHIVIO', area_archive_root(@area), data: { turbo: false } %>  
</div>
