<div class="mx-4">
  <%= simple_form_for [@what, @resource] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>  
    <%= f.input :url %>  

    <div class="m-4">
      <% if @resource.document.attached? %>
        <%= link_to url_for(@resource.document) do %>  
          <% if @resource.document.previewable? %>  
            <%= image_tag @resource.document.preview(resize_to_limit: [250, 250]) %>  
          <% elsif @resource.document.image? %>
            <%= link_to image_tag(@resource.document.variant(resize_to_limit: [250, 250])), url_for(@resource.document) %>
          <% else %>  
            <div class="underline"><%= download_icon %>  Download</div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= f.input :document %>  
    <%= f.input :credits %>  
    <%= f.button :submit %>
  <% end %>
</div>

