<% if resource.video? %>  
  <div class="mx-auto p-2 w-full h-full">
    <iframe class="w-full" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src="<%= resource.embed_url %>" frameborder="0"></iframe>
  </div>
<% else %>
  <div class="mx-auto p-2 w-full text-gray-300">
    <div class="text-center w-full">
      <% if resource.document.image? %>
        <div class="text-center w-full border-2 border-pls">
          <% dest = resource.url.blank? ? url_for(resource.document) : resource.url %>  
          <%= link_to image_tag(resource.document.variant(resize_to_limit: [350, 350]), class: 'w-full'), dest %>
        </div>
      <% elsif defined?(with_preview) && resource.document && resource.document.previewable? %>  
        <div class="text-center w-full border-2 border-pls">
          <%= link_to image_tag(resource.document.preview(resize_to_limit: [350, 350]), class: 'w-full'), url_for(resource.document) %>  
        </div>
      <% end %>  
    </div>
    <div class="text-center text-lg font-medium leading-6 tracking-wide text-gray-900">
      <span class="text-xl mr-2"><%= resource.url.blank? ? link_icon : document_icon %></span>
      <span class="underline"><%= link_to resource.name, resource.url.blank? ? url_for(resource.document) : resource.url %></span>
    </div>
    <div class="text-center text-gray-900">
      <%= link_to_edit_if_editable resource %>  
      <%= link_to_delete([:remove_resource, what, { resource_id: resource.id }]) if defined? what %>  
    </div>
  </div>
<% end %>
