<h1 class="title">
  <%= @resource %> <br/>
  <span class="text-sm">in <%= @resource.areas_to_s %></span>
</h1>

<div class="lg:flex">
  <div class="lg:w-2/3">
    <%= render 'form' %>
  </div>
  <div class="lg:w-1/3">
    <h2>stuffs</h2>
    <% @resource.resource_items.each do |ri| %>  
      <div><%= link_to ri.name, [:edit, ri] %></div>
    <% end %>
    <%= link_to 'Aggiungi robba', new_resource_resource_item_path(@resource), class: 'button' %>  
  </div>
</div>
</div>


