<div class="container" data-controller="resource">
  <h1 class="title">Risorse</h1>

  <div class="my-2">
    <button data-action="click->resource#show_resources" data-resource-type-param="document" class="button">Documenti</button>
    <button data-action="click->resource#show_resources" data-resource-type-param="image" class="button">Immagini</button>
    <button data-action="click->resource#show_resources" data-resource-type-param="video" class="button">Video</button>
  </div>

  <div class="">
    <% @resources['document'].each do |resource| %>  
      <div class="" data-type="<%= resource.document_type %>" data-resource-target="resource" style="display: none">
        <%= render Resource::ResourceComponent.new(resource)  %>  
      </div>
    <% end %>
  </div>

  <div class="md:flex md:flex-wrap md:flex-row sjustify-center">
    <% @resources['image'].each do |resource| %>  
      <div class="md:w-1/4 p-4 h-42" data-type="<%= resource.document_type %>" data-resource-target="resource" style="display: block">
        <%= link_to image_tag(resource.document.variant(resize_to_limit: [350, 350]), class: 'h-full'), [:edit, resource] %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap flex-col md:flex-row justify-center">
    <% @resources['video'].each do |resource| %>  
      <div class="md:w-1/4 p-4" data-type="<%= resource.document_type %>" data-resource-target="resource" style="display: none">
        <%= render Resource::ResourceComponent.new(resource)  %>  
      </div>
    <% end %>
  </div>
</div>
