<div class="p-2 bg-gray-100">
  Scuola <br/>
  <%= school %> <br/>
  <%= school.address %> <%= school.cap %>  <%= school.municipality %> <br/>
  <%= school.province %>  
  <%= link_to(link_icon, school.web_url) unless school.url.blank? %>  
</div>


