<div class="container">
  <h1 class="title">Scuole</h1>

  <%= form_with url: schools_path, data: { turbo: false } do |f| %>  
    <div class="">
      <div class="border border-2 p-2">
        <% @school_types.each do |st| %>  
          <div class='inline-block'>
            <input type="checkbox" id="<%= st %>" name="school_types[]" value="<%= st %>"></input><label class="inline mr-2" for="<%= st %>"><%= st %></label>
          </div>
        <% end %>
      </div>
      <div class="border border-2 p-2 my-4">
        <% @provinces.each do |pr| %>  
          <div class='inline-block'>
            <input type="checkbox" id="<%= pr %>" name="provinces[]" value="<%= pr %>"></input><label class="inline mr-2" for="<%= pr %>"><%= pr %></label> 
          </div>
        <% end %>
      </div>
    </div>
    <%= f.submit "Mostra" %>  
  <% end %>

  <table class="table table-sm text-sm" data-controller="school-data">
    <% @schools.each do |school| %>  
      <tr>
        <td class="number"><%= school.id %></td>
        <th><%= school.name %></th>
        <td><%= 'P' if school.private_school %></td>
        <td>
          <% unless school.web_url.blank? %>  
            <%= link_to school.web_url, school.web_url, target: "_new" %>
          <% end %>
        </td>
        <td class="text-sm"><%= school.email %></td>
        <td><%= school.school_type %></td>
        <td><%= school.province %></td>
        <td class="text-xs"><%= school.code %></td>
      </tr>
    <% end %>
  </table>
</div>
