<div class="m-6">
  <%= simple_form_for @activity do |f| %>  
    <%= f.input :name %>  
    <%= f.input :description, input_html: { cols: 80, rows: 10 } %>
    <%= f.association :activity_type, include_blank: false %>  
    <%= f.association :audience, include_blank: false %>  
    <%= f.association :areas, as: :check_boxes %>  
    <%= f.submit %>  
  <% end %>
</div>
