<h1 class="title">Le attività del PLS</h1>

<div>
  <% @activities.each do |activity| %>  
    <div class="border-2 m-2 p-4">
      <div class="text-lg">
        <%= link_to [:edit, activity] do %>
          <%= activity.name.upcase %>
        <% end %>
        <span class="float-right text-sm text-white bg-yellow-700 rounded px-2">
          <%= activity.activity_type %>
        </span>
      </div>
      <div class="text-right text-sm">
        Organizzato da: <%= activity.areas_to_s %>
      </div>
      <div class="text-right text-sm">
        Contatti: <%= activity.contacts.map(&:name).join(', ') %>
      </div>
      <div>
        <h2 class="my-2">Edizioni:</h2>
        <div class="">
          <% activity.editions.each do |edition| %>  
            <div>
              <i class="fas fa-chevron-right mr-2"></i> <%= link_to edition, [:edit, edition] %> 
            <span class="text-sm">(<%= edition.academic_year %>)</span>
            <div class="">
              <% edition.events.order(:start_date).each do |event| %>  
                <%= link_to [:edit, event] do  %>  
                  <div class="border-b-2 pl-4 my-4">
                    <i class="fas fa-caret-right mr-2"></i> <span class="text-sm mr-2"><%= l event.start_date, format: :short %></span>  
                    <%= event.name %> 
                  </div>
                <% end %>
              <% end %>
            </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Nuova Attività', new_activity_path, class: 'button' %>  
