<%= content_tag :div, class: "h-full project #{'with-filter' unless @no_filter} #{@opacity}", data: @filter_data do %>
  <%= link_to @activity, class: "h-full relative flex flex-col my-2 bg-gray-100 border-t-4 #{@border_color} rounded-b-xl p-4 hover:bg-pls-light hover:shadow-2xl" do %>
    <% if @in_evidence || @hidden %>  
      <div class="absolute -top-4 -left-2 bg-gray-100 text-pls-strong border-4 border-pls-light rounded-xl text-2xl p-1">
        <i class="far <%= @in_evidence ? 'fa-star' : 'fa-eye-slash' %>"></i>
      </div>
    <% end %>

    <div class="grow text-center">
      <%= @activity_type %>
      <h3 class="font-semibold my-2"><%= @activity.name.upcase %></h3>
    </div>

    <div class="text-sm text-gray-700 text-right">
      <% if @organization || @campus %>  
        <div class="text-sm mb-2">
          <%= @organization %>
          <strong><%= "Sede #{@campus.name}" if @campus %></strong>
        </div>
      <% end %>
      <div><strong>Organizzato da:</strong> <%= @project.areas_to_s %></div>
      <% if @other_areas.any? %>  
        <div>Altre aree di interesse: <%= @other_areas.map(&:name).join(', ') %></div>
      <% end %>
      <div><%= helpers.project_academic_years_to_s(@project) %></div>  
    </div>
  <% end %>
<% end %>
