<div class="date-and-place text-lg">
  <% if @activity.start_date %>  
    <div class="py-1">
      <i class="far fa-calendar fa-fw mr-2"></i>
      <%= l @activity.start_date, format: :day %>
    </div>
    <div class="py-1">
      <i class="far fa-clock fa-fw mr-2"></i>
      <%= l @activity.start_date, format: :hour %>
    </div>
  <% end %>

  <% if @activity.online %>  
    <div class="py-1">
      <i class="fas fa-network-wired fa-fw mr-2"></i>
      Fruibile online 
    </div>
    <% unless @activity.access_url.blank? %>
      <div class="ml-8 my-4">
        <%= link_to @activity.access_url, class: 'inline-block online-access' do %>  
          <% if @activity.on_teams? %>  
            <%= image_tag 'teams_logo.svg', width: 50, class: 'inline-block mr-4' %>  
          <% end %>
          <%= @activity.access_url_name %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @activity.in_presence %>  
    <div class="py-1">
      <i class="fas fa-chair fa-fw mr-2"></i>
      In presenza 
    </div>
    <% unless @activity.place.blank? %>
      <div class="ml-8">
        presso <%= @activity.place %>
        <% unless @activity.google_map.blank? %>  
          <%= link_to ' (mostra su google map)', @activity.google_map, class: 'underline', target: '_new' %>  
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
