<div class="date-and-place">
  <% if @activity.start_date %>  
    <div class="py-1">
      <i class="far fa-calendar fa-fw mr-2"></i>
      <%= l @activity.start_date, format: :day %>
    </div>
    <div class="py-1">
      <i class="far fa-clock fa-fw mr-2"></i>
      <%= l @activity.start_date, format: :hour %>
    </div>
  <% end %>

  <% if @activity.online %>  
    <div class="py-1">
      <i class="fas fa-network-wired fa-fw mr-2"></i>
      Fruibile online 
      <% unless @no_link || @activity.access_url.blank? %>
        <%= link_to @activity.access_url, class: 'underline' do %>  
          [<%= @activity.access_url_name %>]
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @activity.in_presence %>  
    <div class="py-1">
      <i class="fas fa-chair fa-fw mr-2"></i>
      In presenza 
      <% unless @activity.place.blank? %>
        presso <%= @activity.place %>
      <% unless @no_link || @activity.google_map.blank? %>  
        <%= link_to ' (mostra su google map)', @activity.google_map, class: 'underline', target: '_new' %>  
      <% end %>
    <% end %>
    </div>
  <% end %>

  <% if @activity.seats.to_i > 0 %>
    <div class="py-1">
      <i class="fa-solid fa-door-open fa-fw mr-2"></i>
      Numero massimo di partecipanti: <%= @activity.seats %>
    </div>
  <% end %>
</div>
