<h3>Modalità di partecipazione</h3>

<div class="p-4 bg-gray-100 border border-pls rounded-xl">
  <div data-controller="hideshow">
    <%= @f.input :in_presence, input_html: { data: { "hideshow-target" => "control" }} %>
    <div data-hideshow-target="controlled">
      <%= @f.input :place %>
      <%= @f.input :google_map, as: :string, placeholder: 'https://' %>
    </div>
  </div>

  <div data-controller="hideshow">
    <%= @f.input :online, input_html: { data: { "hideshow-target" => "control" }} %>
    <div data-hideshow-target="controlled">
      <%= @f.input :access_url, as: :string, placeholder: 'https://' %>
    </div>
  </div>
</div>


