<div class="pls-card my-6">
  <div class="pls-card-title">
    <%= @label %>  
  </div>
  <div class="pls-card-content">
    <% @contacts.each do |contact| %>  
      <div>
        <%= contact %>
        <span class="float-right">
          <%= link_to_delete [:remove_contact, @what, { contact_id: contact.id, as: @as }] %>
        </span>
      </div>
    <% end %>

    <hr class="my-2"/>

    <%= simple_form_for [:add_contact, @what], method: :post, html: { id: @form_id } do |f| %>  
      <input type="hidden" name="as" value="<%= @as %>"></input>
      <label>Cerca nome/cognome inizando a scrivere</label><br/>
      <input name="contact_name" class="border-4 rounded my-2" list="<%= @form_id %>_contacts" />
      <datalist id="<%= @form_id %>_contacts" style="background-color: #ccc;">
        <% Contact.order(:surname).find_each do |c| %>  
          <option data-value="<%= c.id %>" value="<%= c.cn_militar %>"/>
        <% end %>
      </datalist>
      <input type="submit" value="aggiungi"/>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to plus_icon + ' aggiungi un nuovo contatto se non lo trovi nella lista', [:new, @what, :contact, as: @as], class: 'text-sm' %>  
  </div>
</div>
