<div class="py-8 bg-gray-100 text-gray-800 mt-8 border-t border-pls">
  <div class="container md:flex items-stretch">
    <div class="grow text-center">
      <div class="w-32 mx-auto">
        <%= link_to 'https://www.pianolaureescientifiche.it/' do %>  
          <%= image_tag('Logo_PLS_s.png') %>
        <% end %>
      </div>
      <div class="my-8">
        <%= render partial: 'layouts/social' %>  
      </div>
    </div>
    <div class="text-xs">
      <h3 class="mb-4">Partecipanti:</h3>
      <% Organization.order(:name).each do |org| %>
        <div class="m-1">
          > <%= link_to org.to_s, org.url, target: '_new' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="mt-2 text-sm text-center w-full">
      ©Copyright 2024 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376 
    </div>
  </div>
  <% if policy(:impersonation).impersonate? %>
    <%= link_to 'imp', who_impersonate_path %>
  <% end %>
</div>
