<div class="py-8 bg-gray-100 text-gray-800 mt-8 border-t border-pls">
  <div class="container md:flex items-stretch">
    <div class="grow text-center">
      <div class="w-64 mx-auto flex">
        <%= link_to "https://www.pianolaureescientifiche.it/", class: "p-4" do %>  
          <%= image_tag "Logo_PLS_s.png", height: 500 %>
        <% end %>
        <%= link_to "https://www.unibo.it", class: "p-4" do %>
          <%= image_tag "logo-unibo.png", height: 500 %>
        <% end %>
      </div>
      <div class="my-8">
        <%= render partial: "layouts/social" %>  
      </div>
    </div>
    <div class="text-sm">
      <h3 class="mb-4">Partecipanti:</h3>
      <% Organization.order(:name).each do |org| %>
        <div class="m-1">
          > <%= link_to org.to_s, org.url, target: '_new' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="mt-2 text-sm text-center w-full">
      &copy; Copyright 2025 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376 
    </div>
    <% if policy(:impersonation).impersonate? %>
      <%= link_to 'impersona', who_impersonate_path %>
    <% end %>
  </div>
</div>
