<div id="modal-menu" style="display: none" onclick="toggle_menu();" class="ease-linear transition-all duration-500">
  <div class="h-screen overflow-x-hidden fixed inset-0 z-50 outline-none focus:outline-none ease-linear transition-all duration-500">
    <div class="h-screen relative float-left w-full lg:w-1/3 ">
      <div class="h-screen flex flex-col items-center border-r-4 border-blue-900 shadow-lg bg-white py-4">
        <div class="w-1/3 text-center">
          <%= link_to image_pack_tag('Logo_PLS_s.png'), root_path %>
        </div>
        <div class="menu-items">
          <div ><%= link_to 'home', root_path,         class: 'm-2 px-4 py-1'%></div>
          <div><%= link_to 'attività', projects_path, class: 'm-2 px-4 py-1' %></div>  
          <div><%= link_to 'contatti', contacts_path, class: 'm-2 px-4 py-1' %></div>
          <div><%= link_to 'risorse', resources_path, class: 'm-2 px-4 py-1' %></div>  
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-30 fixed inset-0 z-40 bg-black"></div>
</div>

<div class="w-full flex flex-row text-center border-b-2 border-indigo-500">
  <div class="text-4xl mx-4 my-2 px-4 py-2 text-blue-900">
    <a href="javascript:void(0);" id="modal-opener" onclick="toggle_menu();"><i class="fas fa-bars"></i></a>
  </div>
  <div class="flex-grow mx-4 my-2 px-4 py-2">
    <a href="/" class="margin-auto text-2xl mx-4 my-2 px-4 py-2 font-light text-blue-900 border-2 border-blue-900 font-bold tracking-widest rounded-2xl">
      PLS</a>
  </div>
</div>

<%= javascript_tag do %>  
  function toggle_menu() {
    var modal = document.getElementById("modal-menu");
    modal.style.display = (modal.style.display == 'none') ? 'block' : 'none';
  }
<% end %>
