<!DOCTYPE html>
<html lang="it">
  <head>
    <%= render 'layouts/seo' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
    <%# <link href="/fontawesome/css/sharp-thin.css" rel="stylesheet" /> %>
    <%# <link href="/fontawesome/css/duotone-thin.css" rel="stylesheet" /> %>
    <%# <link href="/fontawesome/css/sharp-duotone-thin.css" rel="stylesheet" /> %>
  </head>

  <body>
    <div style="position: fixed; top: 80px; z-index: -1000; opacity: 0.35" >
      <%= image_tag 'Logo_PLS_bg.png' %>  
    </div>

    <div class="flex flex-col justify-between min-h-screen">
      <div class="flex-none">
        <%= render partial: 'layouts/menu' %>  
        <%= render partial: 'layouts/modal' %>  
      </div>

      <div class="min-h-screen">
        <%= render FlashMessage::FlashMessagesComponent.new(flash: flash) %>
        <%= yield %>
      </div>

      <div class="flex-none">
        <%= render partial: 'layouts/footer' %>  
      </div>
    </div>
  </body>
</html>
